[2014-08-30 18:30] jml opened #1 "Reports dead_code for main()"
Given a `src/main.rs` like this:

[code]

as generated from `cargo new testing_rust --bin`, flycheck produces the following warning:

[code]

I am very new to rust, but it seems wrong that `main` emits that warning.

[2014-08-31 11:53] #1 closed, assigned to swsnr

[2014-10-24 19:46] utkarshkukreti opened #2 "Flycheck doesn't run "live" in included files"
I have the following files in a Cargo project:

src/lib.rs:

[code]

src/foo.rs:

[code]

Cargo.toml:

[code]

If I make a syntax error in `src/lib.rs`, errors are shown instantly by flycheck, but if I do it in `src/foo.rs`, they're only shown when I save the buffer.

I do have the following code in my `init.el` as mentioned in the readme

[code]

Any ideas?

[2014-11-19 15:15] #2 closed, assigned to swsnr

[2015-01-28 16:22] hugoduncan opened #5 "Using log or getops crates reports "multple matching crates" error to be displayed"
For some crates (at least `log` and `getopts`), declaring `extern crate getopts;` leads to the following errors displayed in flycheck:

[code]

This seems to be caused by the existence of `log` and `getopts` library files in rustlib.

Cargo doesn't report the same errors when run directly, as it uses different rustc arguments to flycheck-rust (`-L dependency=…` and `--extern …=…`).

[2015-02-03 23:21] mcobzarenco commented on #5
+1

[2015-02-04 10:33] lunaryorn commented on #5
@hugoduncan Feel free to open a pull request to improve flycheck-rust.  I don't have the time to fix this issue currently, and I don't use Rust anymore.

[2015-02-04 13:47] hugoduncan commented on #5
Unfortunately it doesn't seem like a trivial fix, and will probably involve updating the rust support in flycheck itself.  I can't see a way of doing it corrctly without parsing the `Cargo.toml` file.

[2015-02-04 17:51] hugoduncan commented on #5
It seemed simplest just to invoke `cargo`. I started [flycheck-cargo](https://github.com/hugoduncan/flycheck-cargo).

[2015-02-05 10:52] lunaryorn commented on #5
@hugoduncan Cargo would build the entire project to check a single file, wouldn't it?

[2015-02-05 12:11] hugoduncan commented on #5
@lunaryorn Yes, and it definitely has speed issues.

[2015-02-07 12:00] utkarshkukreti commented on #5
Would this help: https://github.com/rust-lang/cargo/pull/1225?

[2015-02-07 12:22] lunaryorn commented on #5
@utkarshkukreti Probably, though a structured format would be better, i.e. JSON.

[2015-04-04 10:36] andersk opened #6 "Can’t find crates that Cargo got from crates.io"
In a Cargo project with a dependency on (say) the [num](https://crates.io/crates/num) crate, flycheck-rust reports “can't find crate for \`num\`” on the `extern crate num;` line.

[code]

[2015-04-04 11:00] andersk commented on #6
I guess this is probably the same underlying problem as #5.

[2015-04-04 11:40] lunaryorn commented on #6
@andersk Can you should me the output of `find target` in your project directory?  I presume the layout of the build directory of Cargo changed.

Ultimately, though, we'll always suffer from issues like this, until we have a way to extract the build settings from Cargo itself.  See https://github.com/rust-lang/cargo/pull/1434.

[2015-04-04 11:49] utkarshkukreti commented on #6
The `debug` build output is now stored in `/target/debug` instead of `/target`. This should work: https://gist.github.com/utkarshkukreti/d7e2016e72bb03af15eb

[2015-04-04 12:01] andersk commented on #6
@utkarshkukreti: Yes, that’s exactly it.

[2015-04-04 12:05] #6 closed

[2015-04-04 12:06] lunaryorn commented on #6
@andersk @utkarshkukreti Great, thanks.  I fixed the issue.

[2015-04-04 12:08] lunaryorn commented on #5
Effectively blocked by https://github.com/rust-lang/cargo/pull/1434.

[2015-04-16 14:05] ane opened #7 "Support for projects where there is neither a src/lib.rs nor a src/main.rs file"
The `[lib]` directive lets you specify a custom path for the library root.

If you use the [cargo](https://github.com/rust-lang/cargo/tree/master/src) project as an example, it's structured as follows:

[code]

There is no `src/main.rs` or `src/lib.rs`.

The actual executable is in `src/bin/cargo.rs`, and the library itself is in `src/cargo/lib.rs`. If you load this project with racer, it will wor

[2015-04-16 15:31] lunaryorn opened #8 "Extract build settings and project layout from Cargo itself"
Don't guess, use Cargo's own settings.  Blocked by https://github.com/rust-lang/cargo/pull/1434

Specifically: Extract the layout, the crate roots, the dependencies, and probably compiler flags as well.  Will probably require changes to Flycheck's rust checker, to pass additional flags.

Fixes:  #5, #7, probably #11

[2015-04-16 15:32] lunaryorn commented on #5
Closing, in favour of #8

[2015-04-16 15:32] #5 closed

[2015-04-16 15:36] lunaryorn commented on #7
If you can implement a good workaround and open a pull request, I'll merge it, but I won't fix this myself.  I'm waiting for Cargo to provide an interface to export the project settings.  Once it's there, this library will just call Cargo and then set the corresponding flags, which will fix this and related issues.  See #8 to track the progress, but it's effectively block by Cargo upstream.

Closi

[2015-04-16 15:36] #7 closed

[2015-04-16 15:46] ane commented on #8
For #7, I have a tentative fix that covers sub-crates like [docopt_macros](https://github.com/docopt/docopt.rs/tree/master/docopt_macros) and works with the `lib` subtree of the cargo project, but the `src/bin` still doesn't work because there's no definite way to know what the actual binary file is (in cargo's case it's `src/bin/cargo.rs`). But I tested with libs (mio) and binaries (racer), and i

[2015-04-16 15:48] lunaryorn commented on #8
@ane As I said, feel free to open a pull request.  It's just that I won't spend any of my time on this anymore until Cargo gets an interface to export its project settings.

[2015-04-16 15:51] ane commented on #8
Yeah. Well, that should be hopefully soon, as @winger seems to be working on it.

[2015-05-08 00:51] saghmrossi opened #10 "function is never used: `main`"
I'm not sure if this is something that's caused by an external tool or if it can be fixed from the code in this repository, but the `main` function is reported as "unused code". This is essentially a cosmetic issue, but it would be nice to have it fixed.

[2015-05-08 07:20] lunaryorn commented on #10
@saghmrossi Well, generally that means that `flycheck-rust-crate-type` is wrong.  But I can't say why it's wrong, or fix that.  I'll need to see how your project layout looks like, etc.

[2015-05-08 19:52] saghmrossi commented on #10
Does flycheck-rust only work with crates? I guess I thought I could just use a standalone rust file.

[2015-05-11 10:46] lunaryorn commented on #10
Everything is a crate in Rust, even if it's just one file, so you'll have to set the crate type, even for sole files.

Besides, this is not really related to this extension.  If you only work with single rust files, you don't even need this.  Flycheck supports Rust out of the box, this extension just configures it for Cargo projects.

[2015-05-11 20:48] saghmrossi commented on #10
Ah, I see. Sorry about the hassle, I'm just starting to learn Rust, so I guess I wasn't completely clear on the concept of a crate (I'll go back and read the documentation again).

Thanks for clearing this up for me!

[2015-05-11 21:11] lunaryorn commented on #10
@saghmrossi A crate is simply a compilation unit in Rust.  Every file—even if it's just one—is part of a Crate.  If your file has a `main` function, you need to tell Rust that it should compile an executable—by setting `flycheck-rust-crate-type` to `"bin"`.

[2015-05-11 21:12] lunaryorn commented on #10
@saghmrossi Now that the confusion is resolved, can I close this issue?

[2015-05-22 16:57] andschwa opened #11 "unresolved name `rand::thread_rng`"
Hello,

I have the following code which compiles fine via `cargo run`:

## `src/main.rs`
[code]
## `Cargo.toml`
[code]

However, Flycheck with `flycheck-rust` gives the warning "unresolved name `rand::thread_rng`" on line 6. It does not appear to be recognize that the function was imported from a crate.

The Flycheck project may be a better place to post this issue, but I was hoping you could help

[2015-05-22 17:02] andschwa commented on #11
#6 is absolutely related but seems already resolved.

[2015-05-22 17:05] andschwa commented on #11
I have tried setting `flycheck-rust-library-path` to `./target/debug/` and `./target/debug/deps`to no avail.

[2015-05-22 17:43] andschwa commented on #11
Bah!

[code]

So how does one make `rustc` aware of library? I'm struggling with `-L` and `-l` so far.

[2015-05-22 17:45] lunaryorn commented on #11
@andschwa Is the crate actually installed? IOW, did you run `cargo build`?

[2015-05-22 17:46] andschwa commented on #11
@lunaryorn Yes (and I'm glad you're here, you can fix everything AFAIK :smile: ):

[code]

[2015-05-22 17:48] lunaryorn commented on #11
@andschwa Then what does `C-c ! C-c rustc` show you?

[2015-05-22 17:49] andschwa commented on #11
`read-flycheck-checker: rustc is no Flycheck syntax checker`

But `C-c ! C-c rust` (thank you! Now I have something verbose to help deubg) gives

[code]

[2015-05-22 17:59] lunaryorn commented on #11
@andschwa I can reproduce the issue, but I'm not sure yet what causes it.  I think there are two different rand crates available (may there's one in the Rust compiler or so).  If you take a look at `cargo build -v` you'll see that it explicitly tells `rustc` which library to use for the `rand` crate.

Flycheck would need to do the same to get exactly the same results as Cargo, but unfortunately th

[2015-05-22 18:07] andschwa commented on #11
@lunaryorn Ah! So I'm not all that dumb, which is a relief. I think you're right about the cause, since why else would it point specifically to the crate file. We're just waiting on that `cargo metadata` then.

Cargo's use of TOML totally surprised me, it seems pretty young.

Thanks for your help! If I'm ever in your neck of the woods, I owe you a beer or ten.

[2015-05-22 19:03] andschwa commented on #11
@lunaryorn Is there a way I can append a flag locally to the syntax checker? Specifically `--extern rand=/Users/andrew/src/rando/target/debug/deps/librand-b924d9fc5b3eb5b8.rlib`.

[2015-05-23 00:19] andschwa commented on #11
Given the supported added in my PR, and the following `.dir-locals.el`:

[code]
The syntax checking works just fine!

[2015-05-24 03:20] tomjakubowski commented on #11
thanks for the tip @andschwa

[2015-05-24 08:02] andschwa commented on #11
No problemo @tomjakubowski! Glad it helped more than just me.

[2015-05-24 09:46] andschwa commented on #11
With the latest updates to `flycheck` adding `flycheck-rust-args`, just use this:

[code]

[2015-05-24 09:46] #11 closed

[2015-05-24 10:05] lunaryorn commented on #11
@andschwa :+1:

[2015-05-24 14:14] jeremyjh commented on #11
@andschwa great timing for me, thanks!

[2015-05-29 15:52] saghmrossi commented on #10
Oops, sorry, I didn't see your question until now. You can close the issue.

Sorry for the trouble!

[2015-05-29 21:04] #10 closed

[2015-06-09 05:49] Nuk9 opened #12 "Error for extern crate"
For example following code snippet:

    extern crate regex;   // on this line flycheck has error 'can't find crate for 'regex''
    fn main() {
    }

Actually I have already setup regex crate in Cargo.toml, dependencies section.
Is there a way to prevent flycheck-rust stop checking extern crate related lines?

[2015-06-09 07:29] lunaryorn commented on #12
@Nuk9 Did you run `cargo build`?  Does the library exist in `target/debug/deps/`?

[2015-06-09 09:26] mkpankov commented on #12
Last time I stumbled upon this, this was especially a ptoblem with crates, that are bundled with `rustc`. For example, using `term` from `crates.io` would emit "can't find crate; multiple candidates" error on `extern crate term`.

This was due to direct launch of `rustc`, as opposed to `cargo` running `rustc`, which supplies additional options to define proper dependencies paths.

Also, AFAIK, `ca

[2015-06-09 11:07] lunaryorn commented on #12
@mkpankov Uhm, we obviously have a different error here… I appreciate your input, but please let us focus on solving this specific issue to help @Nuk9 instead of discussing the general approach of how we check Rust code in Flycheck. Thanks you.

See #8 for ideas on how to use Cargo instead.

[2015-06-09 12:48] Nuk9 commented on #12
I found out the reason: I need to run flycheck-rust-setup. Running that function solved this problem.

[2015-06-09 12:48] #12 closed

[2015-06-09 13:53] lunaryorn commented on #12
@Nuk9 Uhm, that's actually [part of the installation instructions](https://github.com/flycheck/flycheck-rust#installation).  Were these instructions somehow unclear to you?

[2015-06-09 16:30] Nuk9 commented on #12
@lunaryorn Sorry I didn't visit github page, just installed the package from MELPA and I'm new to flycheck. Seems this init style also applies to other flycheck modes (e.g. flycheck-haskell) so I suggest it is my problem.

[2015-06-09 17:18] lunaryorn commented on #12
@Nuk9 Please try to read the documentation of new packages in future.

[2015-06-09 19:13] tomjakubowski commented on #12
@nuk9 just in case you don't know, from `M-x package-list-packages`, you can select a package and hit `?` to see information about it. Many packages include a brief README-like description, and all MELPA packages at least should have an HTTP link to a package homepage where there's often usage documentation.

You can also see this information for an installed package with `C-h P` (capitalized P).

[2015-06-09 19:52] Nuk9 commented on #12
@tomjakubowski Thank you! I will carefully read the documentation before firing an issue on github next time.

[2015-06-09 19:54] lunaryorn commented on #12
@Nuk9 I've improved the commentary of Flycheck and Flycheck Rust a bit to make things more clear, hopefully.

[2015-06-28 00:22] tomjakubowski commented on #8
Now that `cargo rustc` is a thing, is it even necessary to extract this information? I'll experiment with that I guess.

[2015-06-28 01:21] tomjakubowski commented on #8
Well, that was shockingly straightforward. I defined a new flycheck syntax checker and it seems to just work:

[code]

I think this design only supports the "check on save" model of syntax checking, which is unfortunate, but I think a reasonable tradeoff given that everything else works *perfectly*, as far as I can tell, with no painful extraction and guessing at library paths and crate roots and

[2015-06-28 01:31] tomjakubowski commented on #8
From `cargo rustc --help`:

[code]

So there's another thing that needs to be configurable, for some projects.

[2015-08-07 19:14] blaenk commented on #8
@tomjakubowski is correct, we just need to call `cargo rustc -- --Zno-trans` which is the correct way to do somethign like this. In the meantime I'll be using this, since it's pretty tedious/unusable to use rustc directly without the cargo project information baked in.

[2015-08-07 19:31] blaenk commented on #8
@tomjakubowski I'm new to flycheck and emacs in general, do you mean that your change to support `cargo rustc` makes it only work with 'check on save', whereas the original checker worked in more situations? If so, what about this restricts it that way? Or has that always been the case?

[2015-08-07 20:47] tomjakubowski commented on #8
That's right. Flycheck does on-the-fly checks by periodically saving the buffer to a temporary file (named something like `flycheck_temp.rs`) in the same directory the buffer's file resides in, and running its check commands on the temp file instead of the buffer's real filename.

The current Rust checker can check a crate's root file on-the-fly because the name of that file doesn't actually matte

[2015-08-07 20:50] blaenk commented on #8
Thanks @tomjakubowski I appreciate the explanation.

[2015-08-08 03:08] ahwatts commented on #8
It looks like if you pass the requisite `--extern` options to `rustc`, it figures out at least the multiple-crates issue.

This is probably not a great way to do this, but this works for me™.

[code]

[2015-08-16 16:49] fitzgen opened #13 ""Checker rust returned non-zero exit code 101..." error"
I installed flycheck and flycheck-rust from melpa and every time I open a .rs file and enable flycheck-mode I get the following error:

[code]

Any idea what's up?

[2015-08-16 16:58] lunaryorn commented on #13
@fitzgen What's your Rust version?  And what's the output of `C-c ! C-c rust` in a Rust buffer?

[2015-08-16 18:23] fitzgen commented on #13
rustc 1.3.0-nightly (8ce69e856 2015-07-31)

When attempting to `C-c ! C-c rust`, after the second `C-c`, this pops up in a new buffer:

[code]

[2015-08-16 20:28] lunaryorn commented on #13
@fitzgen Uhm, what's your Flycheck version?!  Flycheck stopped to use that option two years ago!

[2015-08-16 20:51] fitzgen commented on #13
That is very interesting...

I guess it is time to clean up my .emacs.d dir...

These things tend to accumulate a mess...

[2015-08-16 20:51] #13 closed

[2015-08-28 02:42] porglezomp opened #14 "Correctly display errors in macro expansions"
All errors inside macros display as `expansion site` in green.

Simple test case:

[code]

[2015-08-28 07:36] lunaryorn commented on #14
I think this needs to be fixed in the error patterns of the rust checker in Flycheck itself.  I don't have time for that, though.  Pull requests welcome.

[2015-08-28 07:36] #14 closed

[2015-09-06 01:59] tomjakubowski commented on #8
@lunaryorn would you accept a pull request to replace the checker in this package with one that uses `cargo rustc`?

[2015-09-06 02:31] thatdoorguy commented on #11
Is there a way that i could set this relative to the current file I am editing?
for instance is there some syntax for the project root directory, that way I could just point it at
/<current project dir where the toml file is>/target/debug/deps

that way no matter what file I open it will try to find the crate i am actually using?

[2015-09-11 20:38] lunaryorn commented on #8
@tomjakubowski I'll definitely merge any pull request that resolves the current issues, in whatever way.  But I do not want to replace this package with something that has edge cases on its own and just breaks in other situations.

However, I'm not sufficiently familiar with Cargo and Rust to decide, so it's really your judgement call.  If you think that checker would sufficiently improve the curr

[2015-09-11 22:45] ane commented on #8
Cargo itself is these days such an integral part of Rust that it is very unlikely one would use Rust without it. The default Rust installer now installs it.

As I understand this PR would improve the Rust default checker (just the compiler) to work a bit better, e.g., to understand different crate layouts to which the compiler itself is oblivious. The package manager - Cargo - understands these co

[2015-09-11 22:53] blaenk commented on #8
Yeah cargo has definitely become very integral to rust, unlike other languages or ecosystems. I personally believe that the cargo checker should be the default for this reason, and yes keeping this checker wouldn't hurt anyone and would definitely help out those (very) rare situations where someone isn't using cargo, but it should be opt-in.

Hope you do submit a PR, @tomjakubowski :)

[2015-10-05 15:25] lunaryorn commented on #8
@tomjakubowski Any news on this?

[2015-10-26 22:48] mgalgs opened #15 ""Can't find crate" for extern (even after `cargo build`)"
I'm new to rust, so maybe I'm doing something silly, but I seem to be having troubles getting `flycheck-rust` to recognize any external dependencies whatsoever.  I've put together a minimal demo repo that shows the problem for a crates.io dependency as well as a local dependency: https://github.com/mgalgs/flycheck-rust-test

In `frsub/lib.rs` in that repo, I'm trying to extern a crate from crates.

[2015-10-27 12:48] mkpankov commented on #15
@mgalgs it's the same as https://github.com/flycheck/flycheck-rust/issues/8

Currently Flycheck is unable to get proper search paths of crates which are used by Cargo.

[2015-10-27 14:30] utkarshkukreti commented on #8
FWIW I've been using this modified version of the default Rust Flycheck checker for a few hours now and it seems to be working fine. I'm not sending a PR because it doesn't handle bin files right now.

[code]

[2015-10-27 14:47] mkpankov commented on #8
@utkarshkukreti I modified your version with a hack and now it seems to handle binaries *and* libraries. Multiple binaries are not handled, though

[code]

[2015-10-27 15:00] lunaryorn commented on #8
@utkarshkukreti @mkpankov I'll definitely merge a PR that adds such a syntax checker to Flycheck :sunglasses: :+1: :fireworks:

[2015-10-27 15:08] mkpankov commented on #8
@lunaryorn do you want it to be an addition, rather than replacement, of the current checker? I could prepare a PR...

[2015-10-27 15:13] lunaryorn commented on #8
@mkpankov I'd prefer an additional syntax checker that's before the default `rust` syntax checker and has a predicate that checks for the existence of the TOML file.  If there's no TOML, i.e. if it's not a Cargo project, Flycheck would then fall back to the current rust syntax checker.

I think there are still many situations in which one would write Rust outside of a Cargo project—for instance, a

[2015-10-27 15:15] mkpankov commented on #8
@lunaryorn will take a look at it. That should be a PR against the main `flycheck` repo, not `flycheck-rust`, right?

[2015-10-27 15:38] lunaryorn commented on #8
@mkpankov Yes, a PR for main repo, please.  The syntax checker will have no dependencies, so there's no reason to keep it out of Flycheck.

[2015-10-27 15:40] mkpankov commented on #8
@lunaryorn I'm not sure it'll have no dependencies.

At the very least `flycheck-rust-crate-type` and `flycheck-rust-crate-root` are defined in `flycheck-rust`.

Or were you talking about something else?

[2015-10-27 16:46] lunaryorn commented on #8
@mkpankov Flycheck itself defines these variables.  flycheck-rust just sets them, but you don't need flycheck-rust for that: You could also set them yourself, i.e. via directory variables.

[2015-10-27 16:51] lunaryorn commented on #15
Closing as duplicate then.

[2015-10-27 16:51] #15 closed

[2015-11-14 01:49] Nuk9 opened #16 "No library targest found error in rust-cargo"
Hello,
Now I have two rust files: main.rs and event.rs, where main.rs uses mod event.
When I run rust-cargo checker on main.rs it is using:

    cargo rustc -- -Z no-trans -L/Users/nuk/git/stitch_v2/target/debug -L/Users/nuk/git/stitch_v2/target/debug/deps

However when I run rust-cargo checker on event.rs:

    cargo rustc --lib -- -Z no-trans --test -L/Users/nuk/git/stitch_v2/target/debug -L/Use

[2015-11-14 02:07] Nuk9 commented on #16
Another question is:
Cargo allows me to have two targes in one project, see [here](http://stackoverflow.com/questions/26946646/rust-package-with-both-a-library-and-a-binary).

Suppose we have both main.rs and lib.rs in same directory, at this time I run `C-c ! C-c rust-cargo` in main.rs it will return:

    cargo rustc -- -Z no-trans -L/Users/nuk/git/stitch_v2/target/debug -L/Users/nuk/git/stitch_

[2015-11-14 10:12] lunaryorn commented on #16
@Nuk9 Apparently Flycheck Rust does not detect that `event.rs` belongs to a binary.  I presume our detection logic is flawed, but I do not have the time to fix that.  My Rust knowledge is superficial, and its build model does not play well with Flycheck assumption that it can check individual files.

Likewise, Flycheck does not support packages with multiple targets.

Pull requests that improve Ru

[2015-11-14 10:12] #16 closed

[2015-11-15 04:09] tomjakubowski commented on #16
Seems to me the right thing to do is to have file-local variables to control what target `cargo rustc` will try to

[2015-12-03 20:45] skeuomorf opened #17 "Error in binary cargo projects"
Opening the `utils` module in the following directory tree -Cargo binary project made with `cargo new hello --bin-. NOTE: The checker works fine inside the `main` module.
.
├── Cargo.lock
├── Cargo.toml
├── src
│   ├── main.rs
│   └── utils.rs
└── target
    └── debug
        ├── build
        ├── deps
        ├── examples
        ├── hello
        └── native
This error appears
"Suspicious state f

[2015-12-04 09:09] mkpankov commented on #17
Dupe of https://github.com/flycheck/flycheck-rust/issues/16

[2015-12-04 13:31] lunaryorn commented on #17
Indeed, that's a duplicate of #16, closing.

[2015-12-04 13:31] #17 closed

[2015-12-23 09:37] shimaneken opened #19 "flycheck-rust-find-crate-root returns a file path"
This may set the path of main.rs or lib.rs to flycheck-rust-crate-root.

[2015-12-23 09:48] shimaneken opened #20 "flycheck-rust-binary-crate-p fails because flycheck-rust-find-crate-root is nil"
flycheck-rust-find-crate-root needs to have the value regardless of whether the crate layout is valid or not.

[2015-12-23 12:03] lunaryorn commented on #19
Sorry, but what exactly is the issue here?

[2015-12-25 15:13] #20 closed

[2015-12-26 14:07] shimaneken commented on #19
Sorry for my misunderstanding. It seems to be no problem.

[2015-12-26 14:07] #19 closed

[2016-01-07 18:30] carlosgaldino opened #23 "Error related to rust-cargo"
[code]

I believe this is related to #16 and #18. I'm using the latest version from Dec 25 and getting this message when I save any file on my project. The project layout is:

[code]

Any ideas about this? Is there something I'm doing wrong?

Thank you.

[2016-01-07 23:30] carlosgaldino commented on #23
When I run `M-x flycheck-compile` and select `rust-cargo` I get:

[code]

Just like reported on #16.

[2016-01-08 09:22] lunaryorn commented on #23
@carlosgaldino Would you mind to show your Flycheck and Flycheck Rust setup?

[2016-01-08 12:17] carlosgaldino commented on #23
@lunaryorn I'm using Spacemacs so the config is the following: https://github.com/syl20bnr/spacemacs/blob/v0.105.4/layers/%2Blang/rust/packages.el#L24-L32

[2016-01-08 15:15] carlosgaldino commented on #23
@lunaryorn Sorry. I forgot to add `flycheck` config. That was `flycheck-rust` config. `flycheck` config is the following: https://github.com/syl20bnr/spacemacs/blob/v0.105.4/layers/syntax-checking/packages.el

[2016-01-09 09:32] lunaryorn commented on #23
Can you provide the versions of Flycheck and Flycheck Rust installed in your Emacs? And name your Rust version?

[2016-01-09 15:02] carlosgaldino commented on #23
`flycheck-rust`: `20151225.713`
`flycheck`: `20160106.544`
`rust`: `1.5.0`

[2016-01-10 09:25] lunaryorn commented on #23
@mkpankov I think I'll need your help here.  Since #18 Flycheck Rust always picks the "binary" crate type if there's a `src/main.rs`.  However with that crate type the `rust-cargo` syntax checkers doesn't pass any target to `cargo rustc`, hence this error.

I'm not sure how we could solve that.  Passing `--bin` doesn't really work without additional code that tries to find out the name of the exec

[2016-01-11 20:58] mkpankov commented on #23
@lunaryorn thank you for invitation to the org! :wink:

I'll try to work on the issue on weekend, but unfortunately can't promise anything.

[2016-01-11 22:58] lunaryorn commented on #23
@mkpankov You're welcome.  I meant to write you a mail, but I forgot :relaxed:  Please take all the time you need :)

[2016-01-23 19:32] mkpankov commented on #23
Ok, I've been able to reproduce the issue. This is the test [project](https://github.com/mkpankov/flycheck-rust/tree/5f4e30a6034d2cb2b5f3990df4693901d958c43b/tests/main-and-lib/test) I've setup. Flycheck breaks in `main.rs`.

It's indeed the case that `cargo rustc -- -Z no-trans` won't work if there are multiple targets, like in this case. So we should use `cargo rustc --bin <BINARY_NAME> -- -Z no

[2016-01-23 21:29] lunaryorn commented on #23
@mkpankov I don't think so, at least any time soon.

Adding an option to Flycheck is simple, but digging through the Cargo layout to guess the executable name is more than I have time for currently.  Besides, I don't really use Rust in any complicated setup, and am not personally affected by this problem.

My personal focus is on the [many open tasks](https://waffle.io/flycheck/flycheck) in Flyche

[2016-01-24 01:59] tomjakubowski commented on #23
I think it should work up to the point where a bin file has submodules implemented in other files.  For example:

[code]

[code]

[code]

If you edit `src/bin/common.rs`, flycheck won't know which target to build.  It gets even more questionable if a module is shared by multiple targets (arguably a bad practice…).  But I agree this is a good start, at least until such time as Cargo can provide too

[2016-01-30 12:48] olsonjeffery opened #24 "problem with flycheck-rust and multirust"
Hello, I'm using emacs 24 on OSX. My rust toolchain uses multirust.

After going through the slog of diagnosing and properly configuring my exec-path so that cargo et al could be located. Anyways, after that I get this flycheck error when doing `flycheck-buffer` in a rust buffer:

[code]

Curious if anyone has ran into this and how they fixed it.

Thanks in advance.

[2016-02-03 09:20] lunaryorn commented on #24
@olsonjeffery What is "multirust"?

[2016-02-03 11:41] olsonjeffery commented on #24
https://github.com/brson/multirust

[code]

[2016-02-03 12:12] lunaryorn commented on #24
@olsonjeffery Well, yes, but how does it work?

Presumably, there's a crucial setup step missing in your Emacs configuration, e.g. a missing environment variable, that's causing the error.  We'll need to find the missing step, but I don't know anything about "multirust", hence I'll need your help to help you :wink: (meta :joy:)

[2016-02-07 10:13] lunaryorn commented on #8
It would appear that [cargo now provides a metadata command](https://github.com/rust-lang/cargo/pull/2196) which we could probably make use of.

[2016-02-08 03:35] olsonjeffery commented on #24
yeah it must've been some kind of environmental issue.

I paved my emacs setup and tried out spacemacs along with its rust layer and flycheck-rust works fine.

Cheers!

[2016-02-08 03:35] #24 closed

[2016-04-14 18:57] tgroshon commented on #23
Any luck on this?  I also have this problem.

[2016-05-11 20:51] #23 closed

[2016-05-26 09:52] mkpankov opened #26 "Running rustc with -Z no-trans disables some errors"
Passing -Z no-trans disables some errors. In particular, type size comparison done when checking if `std::mem::transmute` should be allowed is not performed.

See this example: https://is.gd/cnjaFI . When run locally with `-Z no-trans`, no errors are reported.

[2016-05-26 10:13] fmdkdd commented on #26
Good to know.  Is there anything we can do on flycheck's end, or must we wait for an improvement to rustc or cargo?

[2016-05-27 12:44] mkpankov commented on #26
I don't think there's anything we can do, except running `rustc` normally - w/o `-Z no-trans`. It has the downside of slowing down to the speed of usual compilation - which can be big.

[2016-06-14 17:09] marcbowes opened #27 "flycheck-rust-setup: Symbol's value as variable is void: \.targets"
Hi,

After upgrading I get this error when opening .rs files:

[code]

It seems the most recent commit introduced the code that is failing for me: https://github.com/flycheck/flycheck-rust/commit/a8f76ed51c97a4fef6bc558da18be744d18cd69e.

GNU Emacs 24.5.1 (x86_64-apple-darwin13.4.0, NS apple-appkit-1265.21) of 2015-04-10 on builder10-9.porkrind.org

[2016-06-14 17:14] marcbowes commented on #27
I downgraded to https://raw.githubusercontent.com/flycheck/flycheck-rust/e03c895ef1ce514f7cefcd86f10e6bde97ff1c73/flycheck-rust.el and the problem went away for me. Is there something on my system that is maybe incompatible? I see the commit message notes a newer version of seq than what I seem to have but the error happens on a line before seq is used.

[2016-06-14 18:30] #27 closed

[2016-06-14 18:31] lunaryorn commented on #27
@marcbowes Oh, sorry, we forgot to add a dependency on `let-alist` in this code.  I didn't notice earlier because I'm using Emacs 25 where it's built-in.

Please upgrade once MELPA has built this package again in a couple of hours; the error should be gone then.

Please excuse this blunder of ours 😞

[2016-06-14 18:34] marcbowes commented on #27
No problem. Thanks for the super speedy turnaround. I'll try manually do this while I wait for the release.

[2016-06-14 18:35] marcbowes commented on #27
Hmm I already have that installed at at v1.0.4.

[2016-06-14 18:40] marcbowes commented on #27
I manually applied your edit and things seem to work for me.

Thanks!

[2016-08-10 03:25] Trevoke opened #28 "Please create a release for melpa stable"
All you need to do is tag the commits you consider to be stable as you go and push them to Github and Melpa will take care of the rest.

Thanks!

[2016-08-10 08:52] lunaryorn commented on #28
@Trevoke I know how to create releases for MELPA Stable, but I do not consider this project stable.

[2016-08-10 08:53] #28 closed

[2016-08-11 09:43] zakkor opened #29 "Only checks syntax on save"
It seems that flycheck-rust only checks syntax when the file is saved, even if the appropriate variables are present in `flycheck-check-syntax-automatically`.

Its value is `(save idle-change new-line mode-enabled)`, and yet idle-change and new-line don't trigger the syntax check.

[2016-08-11 10:05] mkpankov commented on #29
Checkins cargo projects (as opposed to single files) can only be performed when files are saved since non-saved files could cause inconsistent state of the project. I.e. you have foo.rs that's not saved but already referenced in main.rs.

[2016-08-11 10:15] zakkor commented on #29
Is there any way to force it to do this?
I think realistically people work only on one file at a time, don't they? IMO it's far more useful and productive to get syntax checking as you type.
Or is it possible to check only when all files in the cargo project (except the one being edited) are saved?

[2016-08-11 11:21] fmdkdd commented on #29
I think the problem is that in order to check the file you are editing, we have to pass it somehow to cargo.  And, since the file is not saved, cargo should not use the file that's on disk, but the current version that's in your buffer.  The usual way to check the buffer you are editing without saving it first in flycheck is to save the current buffer to a temporary file, compile that file, and co

[2016-08-11 11:58] zakkor commented on #29
Thank you for the detailed explanation.

[2016-08-14 01:04] andersk opened #31 "Can’t parse new error message format from Rust 1.12 nightly"
Rust 1.12 introduces a [new format for error messages and warnings](https://blog.rust-lang.org/2016/08/10/Shape-of-errors-to-come.html), and flycheck-rust will need to be taught how to parse it. Right now flycheck-rust shows no errors or warnings when used with Rust 1.12 nightly.

[2016-08-14 11:34] fmdkdd commented on #31
Indeed, thank you for your report.

We have a PR over at flycheck/flycheck#1036 that uses the JSON error format to restore functionality for flycheck in nightly.  It just needs reviewing before merging.

In the meantime, you are welcome to try out that branch if you ache for flycheck highlights.  I've tested it on nightly and it worked, but I'd love more feedback.

[2016-08-16 12:20] lunaryorn commented on #31
I'm closing this issue, in favour of flycheck/flycheck#1036.  Thank you for reporting it!

[2016-08-16 12:20] #31 closed

[2016-08-22 17:20] hicksy994 opened #32 "Is it possible to run the check after every edit instead of every save?"

[2016-08-22 17:24] fmdkdd commented on #32
Short answer: not yet.  Longer answer: see #29.

[2016-08-22 17:24] #32 closed

[2016-08-24 03:54] Wilfred commented on #29
Here's an idea: if foo.rs contains unsaved changes, could we copy the currently saved version of foo.rs to foo.rs.backup, save foo.rs, then revert afterwards?

[2016-08-24 06:48] zakkor commented on #29
@Wilfred: But will that be fast enough to work in real time?

[2016-08-24 06:50] mkpankov commented on #29
@Wilfred I think there may be other unsaved files, too, not only the current one

[2016-08-24 08:07] lunaryorn commented on #29
@Wilfred I'd rather prefer if Flycheck did not mess with the original file.  If something goes wrong while copying files around Flycheck could cause harm and leave the user with much damage.

[2016-08-24 08:11] lunaryorn commented on #29
@zakkor It'd be fast enough; short-lived changes to files won't be persisted to disk and purely live in-memory.

But I find it too risky to add that to Flycheck, and it's too cumbersome to implement completely (see @mkpankov's remark) and safely to support just a single syntax checker.

----

If anyone volunteered they could implement a generic checker around the proposed approach to try it and fi

[2016-08-24 09:28] fmdkdd commented on #29
Again, if you look at the [language server RFC](https://github.com/rust-lang/rfcs/blob/master/text/1317-ide.md#show-compilation-errors-and-warnings-updated-as-the-user-types), the goal is to be able to give error feedback of the program that is held *in memory of the IDE*.  That is, the in-buffer version.

Using temporary files as a workaround has potentially dangerous consequences, as lunaryorn a

[2016-08-24 11:36] lunaryorn commented on #29
@fmdkdd Thanks for the information. I agree that we should wait for improvements in the Rust compiler—which is also a reason why I haven't made stable releases of this extension yet; to me it's just a temporary tool to make Rust at least bearable in Flycheck.

I think it's clear that the current compilation model—entire crates as the atomic unit of compilation—doesn't serve editors and IDEs well,

[2016-08-29 12:00] timzaak opened #33 "flycheck-rust can not run correctly"
I use this configuration : https://github.com/rustcc/RustPrimer/issues/519 .
the racer can work correctly, but flycheck does noting. If is the configuration is wrong, or anything else?
my enviroment is :
OS:  mac OSX,
Emacs:  24.5
pacakges are all the newest.

[2016-08-29 12:15] lunaryorn commented on #33
@timzaak Thank you for reporting this issue, but please put more effort in your issue reports.  This one isn't helpful.

Please elaborate what "does nothing" means.  Take the time and in detail describe the behaviour you see in contrast to the behaviour you expect.  Then please try to reproduce the issue in `emacs -Q` with only the relevant packages loaded.  If you are able to reproduce the issue

[2016-08-29 14:25] timzaak commented on #33
after  M-x flycheck-select-checker <RET> rust .it showes
![image](https://cloud.githubusercontent.com/assets/6149407/18054634/3e791f8c-6e37-11e6-9192-d4b406f570aa.png)
and the source  code is :
![image](https://cloud.githubusercontent.com/assets/6149407/18054667/5645e42e-6e37-11e6-8f76-2cb64948c824.png)

[2016-08-29 14:37] lunaryorn commented on #33
Where's the `rust-cargo` syntax checker?  It's built into recent versions of Flycheck, and missing in your Emacs?

[2016-09-03 21:25] djanderson commented on #23
I am still able to reproduce this error with latest rust/cargo/emacs

The exact error:
[code]
[code]

[code]

Steps to reproduce:
  (following cargo guide here: http://doc.crates.io/guide.html)
  1) `$ cargo new hello_world --bin`
  2) open hello_world/src/main.rs

[2016-09-04 10:54] fmdkdd commented on #23
@djanderson Hmm I cannot reproduce under Emacs 24.5.1 or 25.1.1.

I have no error when opening hello_world/src/main.rs, and introducing a syntax error and saving the file does trigger flycheck, as expected.

[code]

Same flycheck and flycheck-rust as you.

[2016-09-04 13:53] buster commented on #23
It's not working for me either.
I'm using spacemacs and just created a a new project.

To be honest, i don't understand why it says "no such subcommand".
When i run "flycheck-compile" and "rust-cargo" it shows the following:

`cargo rustc --lib -- -Z no-trans -Z unstable-options --error-format\=json --test
No such subcommand
	Did you mean `run`?
`

But first of all, my directory structure shows no

[2016-09-04 14:11] buster commented on #23
I have found that /usr/bin/cargo was an old version and that's why flycheck-rust did get "no such subcommand".
Now, flycheck doesn't find my cargo installation in $HOME/.cargo/bin. Is that normal?

[2016-09-04 15:53] fmdkdd commented on #23
@buster Are you using rustup?  Flycheck will look for the `cargo` executable in your `PATH` environment variable.  If `$HOME/.cargo/bin` isn't on your path, then you can either add it or set the variable `flycheck-rust-cargo-executable` to point to `cargo`'s location.

In a rust file in your cargo project, you can use `flycheck-verify-checker` and select `rust-cargo` to check if flycheck finds the

[2016-09-04 17:54] djanderson commented on #23
@fmdkdd, well, I'm embarrassed to say that I was able to fix the issue by actually RTFMing your README :) I was already using flycheck for several other languages and so just copy/pasted one and added the hook to rust-mode, but when I added `(add-hook 'rust-mode-hook #'flycheck-rust-setup)` to `init.el`, as you say to do, the error went away. Sorry for the noise!

[2016-09-05 06:10] buster commented on #23
@fmdkdd: Yes, i am using rustup. Somehow emacs didn't pick up my PATH variable. I'l' set flycheck-rust-cargo-executable.. It works now, thanks!

[2016-09-05 06:31] buster commented on #23
@fmdkdd Does flycheck-rust have such a variable? Looking in the source i can't find a reference to it... I don't know flycheck or elisp, so i may be missing something..

[2016-09-05 08:36] lunaryorn commented on #23
@buster Yes, it does.  Flycheck implicitly defines such a variable for all syntax checkers.  Take a look at `C-h v flycheck-rust-cargo-executable`.

[2016-09-05 09:46] fmdkdd commented on #23
@djanderson Glad to know it's working for you now :)

@buster @lunaryorn Implicitly defined variables always trip me up too, since jumping to definition from the help buffer does not work.  Even though the docstring does tell its purpose, it also states that the value is "nil", but then at the end of the docstring actually tells you the default is "cargo".  Still, it's good that we *can* override

[2016-09-05 09:59] lunaryorn commented on #23
@fmdkdd Would you rather define this variable explicitly for each of the 80 syntax checkers we support?

I'm aware that this part of Flycheck isn't documented in the manual, see https://github.com/flycheck/flycheck/issues/927: Configuration of checkers is still missing.  I'll add it at some point but given that it's got a docstring, is referred to in the docstring of each syntax checker and an opt

[2016-09-05 10:28] fmdkdd commented on #23
@lunaryorn It's a tradeoff.  I'd rather have Emacs tell me it's a custom variable defined by a macro, at least.

Good to know that documentation is coming.  Let me know if I can help in any capability.

[2016-09-05 11:36] lunaryorn commented on #23
@fmdkdd Any contribution to the documentation would be very welcome :)  I've been planning to write more for a long time, but then I thought it'd be more important to provide good documentation for new contributors which is why I spent most of my documentation efforts on the contributor and maintainer guide and automated a lot of our processes (like releases, etc.).

I'm not sure in how far we can

[2016-09-25 04:44] impowski commented on #33
@lunaryorn I guess it can be closed because the only thing was needed is to run `U x` in after `M x package-list-packages` or `M x list-packages`. At least it worked for me because I thought that I had a brand new packages at first but then.

[2016-09-27 02:00] #33 closed

[2016-10-02 05:03] vvuk opened #36 "flycheck doesn't handle complex macro errors"
With the following output:

[code]

rust-flycheck ends up just reporting nothing -- no errors/warnings/etc.  I think this is an edge case with the new error style.

[2016-10-02 10:25] fmdkdd commented on #36
Thanks for the report.

So where does the output come from?  Did you get it from the running cargo in the command line yourself?

If so, this might be related to #26.  Can you try to invoke `cargo rustc -- -Z no-trans` manually and see if the error appears?

[2016-10-02 23:37] vvuk commented on #36
From running cargo manually, yep.  I'll give straight rustc a try when I get back to that machine, but I doubt that's the issue -- it's a macro error, so should be happening well before anything `-Z no-trans` might disable.

[2016-10-03 18:58] vvuk commented on #36
`-Z no-trans` reports the same error.  I can construct a testcase for this if that would be helpful?

[2016-10-03 19:07] vvuk commented on #36
Testcase -- clone gist at https://gist.github.com/vvuk/37416f9ef49aefbff66e613dd6df0335

Note that if you comment out the `dd!` line and uncomment out the `println!` line you'll get a different type of error (where it'll report only the error on the `include!`).  I've filed this with rustc, but it can likely still happen regardless.

[2016-10-03 20:35] fmdkdd commented on #36
Thanks for the test case, it's definitely helpful!  It's not a `no-trans` issue, and since I can get the error as JSON from the compiler, it's likely an issue with our parser.

I'll look into it.  Thanks a lot for reporting this.

[2016-10-06 05:18] jsdir opened #38 "Integration tests are not checked"
The integration tests in my Cargo project (`tests/integration_test.rs`) are not being checked on save.

`flycheck-compile` gives me:

[code]

This command exits successfully even when there are errors in the integration tests. I don't know if this is an issue with `flycheck-rust` or `flycheck`.

[2016-10-06 12:31] fmdkdd commented on #38
Thanks for pointing this out.

As far as I understand, the files in `tests` won't be checked by the current command because `cargo rustc --lib` will only build the files needed by the library.  If there are any `#[test]` functions in these files, they will be checked, but the files in `tests` are obviously not part of the library, so they won't be checked.

According to the [rust book](https://doc

[2016-10-06 16:41] jsdir commented on #38
Thanks for the quick response!

[2016-10-07 11:41] fmdkdd commented on #36
@vvuk Should be fixed in the latest flycheck master.  Can you confirm?

[2016-10-11 12:48] navaati opened #40 "flycheck-rust-find-target: Wrong type argument: stringp, nil"
Hi.

When running flycheck-rust-setup I get this error everytime.
Then flycheck checks nothing, nothing is underlined and running flycheck-buffer manually does nothing (no error).

[2016-10-11 17:35] brunoqc opened #41 "File mode specification error: (json-readtable-error)"
I got this error when I try to open a rust file. Not sure if it's a problem with flycheck or flycheck-rust.

GNU Emacs 25.1.1 (x86_64-unknown-linux-gnu, GTK+ Version 3.20.9) of 2016-09-18

[code]

[2016-10-12 09:30] lunaryorn commented on #40
Can you retry with `debug-on-error` enabled?

[2016-10-12 09:30] lunaryorn commented on #41
Can you retry with `debug-on-error`?

[2016-10-12 14:57] brunoqc commented on #41
I can't reproduce anymore. I'll report if I have this bug again.

[2016-10-12 14:57] #41 closed

[2016-10-12 19:13] navaati commented on #40
Yes sir, here it is:

[2016-10-12 19:26] fmdkdd commented on #40
Looks like `(funcall flycheck-executable-find "cargo")` is returning `nil`.

We should probably check for that case, but in the meantime, @navaati I suppose you have `cargo` installed and on your PATH environment variable?

[2016-10-12 21:17] navaati commented on #40
Ah, maybe the PATH is right in my shell but not in emacs, there is a pretty good chance the problem come from that. Thanks for pointing the right direction to me !
I'll confirm that tomorrow.

[2016-10-13 10:13] navaati commented on #40
Yep, confirmed (and now it works).
Thanks, and sorry for wasting your time.

[2016-10-13 10:21] lunaryorn commented on #40
@navaati Not at all, thanks for reporting this issue!  We should definitely not fail like that if a program is missing!  It's an issue that we need to fix, to present a helpful error message!

[2016-10-13 10:39] navaati commented on #40
Ok, I'll let you close the issue when the case is handled then.
Have a nice day !

[2016-10-13 13:00] fmdkdd commented on #40
@navaati Yes, thank you for reporting this, and happy hacking :)

@lunaryorn I guess we can emit a warning when ~cargo~ isn't found, since users adding ~flycheck-rust-setup~ would expect it to do something.

[2016-10-13 13:14] lunaryorn commented on #40
@navaati Take a look at our documentation; I think it's already [got this issue covered](http://www.flycheck.org/en/latest/user/troubleshooting.html#flycheck-cant-find-any-programs-in-gui-emacs-on-macos).

@fmdkdd I think an error is fine—without cargo we can't reasonably continue to setup the buffer anyway.

But it should be a better error imho: We should check whether `flycheck-executable-find`

[2016-10-14 10:09] fmdkdd commented on #40
So I tried to add a `user-error` when `flycheck-rust-find-target` cannot find an executable.  It works, but a maybe a bit too well.

With `global-flycheck-mode` on, the error appears when you try to `C-x C-f` a rust file that's in a cargo project, and it fails to open the file with this error:

[code]

Worse, most commands also trigger the error after this failure, rendering Emacs unusable until e

[2016-10-14 10:45] lunaryorn commented on #40
So, I see that `user-error` isn't a good idea, but I'm not sure I understand why we can't just skip the setup when Cargo isn't found?  Why would the rust syntax checkers still run in this case?  The cargo-based one should be skipped just as well—the other one might run for sure, but how likely is it to have `rustc` in path but not `cargo`?  I don't think you can even install them separately these

[2016-10-14 19:48] fmdkdd commented on #40
Oh we could skip the setup when cargo isn't found, and I think it's the sane thing to do too.

But the rust-cargo checker will still run, because its predicate simply looks for a `Cargo.toml` file, not for the presence of the cargo binary or any variable set by `flycheck-rust-setup`.  We would have to modify the predicate.  The `rustc` predicate for instance checks for `not flycheck-rust-crate-roo

[2016-10-15 08:44] lunaryorn commented on #40
But then it's unlikely that any rust checker would run if cargo is missing, right?

I'd keep things simple: Let's just make sure that we skip the setup when Cargo is missing, and look whether the issue appears again.

[2016-10-15 17:07] fmdkdd commented on #40
Ah, I see what you mean, if their executable aren't found then they would be disabled by flycheck automatically, so there's no hurt on skipping the setup since there won't be any checking.

It seems coherent to make the same check in `flycheck-rust-setup`.  Agreed on the simple skip.

[2016-10-17 11:53] #40 closed

[2016-10-19 18:11] fmdkdd commented on #40
@lunaryorn In the end, I used an `user-error` in conjunction with `with-demoted-errors` to ensure we do not raise any error.  See f8ae845.

[2016-10-19 18:11] lunaryorn commented on #40
That's nice 👍 Good idea

[2016-11-13 00:04] Pireax opened #44 "Emacs blocks on flycheck-rust-find-target"
Hello,
When using this function directly or automatically through flycheck it blocks up the UI for a few seconds. Is it possible to make this not block?

[2016-11-13 10:49] lunaryorn commented on #44
@Pireax Yes, it'd be possible, but only with a major refactoring.  To me personally it's not worth the effort, to be honest, since the function should only run once per buffer, and I'm not doing much Rust recently anyway.

Maybe someone from @flycheck/rust can take a look, but we would really appreciate if you could try and open a pull request.

[2016-11-15 14:24] fmdkdd commented on #44
Well, a few *seconds* seems quite bad indeed.  I haven't encountered these kind of durations.  I imagine that in some setups, executing `cargo read-manifest` and parsing the JSON can take its toll.

I guess we could call cargo asynchronously (is that what you had in mind @lunaryorn ?), but we would still have to parse the JSON synchronously.

Ultimately though, my hope is that I find time to inter

[2016-11-15 14:55] lunaryorn commented on #44
@fmdkdd Yes, that's what I mean: We could call cargo asynchronously and set the variables in the process handler once cargo is finished.  But I don't know whether it's worth the effort.

[2016-11-15 16:55] Pireax commented on #44
Would something along the lines of [https://gist.github.com/Pireax/7b3c58a3afd57d2f6b37ae9c0abf394b](this) work without having any unwanted consequences?

[2016-11-15 16:59] lunaryorn commented on #44
@Pireax Could you please link to a diff?

[2016-11-15 17:26] Pireax commented on #44
[Here you go.](https://github.com/Pireax/flycheck-rust/commit/5d5d9e7f1a33f5a6b5b3f19d077cc15e8939f118)

[2016-11-15 18:07] lunaryorn commented on #44
@Pireax I don't think that'd work.

"async" spawns a separate Emacs instance, which doesn't inherit any values or libraries from the current sessions automatically.   I presume this `let`-bind of `load-path` is to propagate the value of `load-path` to the asynchronous function?  In this case we're—from a cursory look—at least missing `exec-path` and `flycheck-executable-find` as well; both of thes

[2016-11-15 18:28] fmdkdd commented on #44
Also, wouldn't there be potential sequencing issues?  If the variables are set asynchronously, presumably after a few seconds, well after the `flycheck-mode-hook is run`.  I guess at least you wouldn't disable the `rust` checker like you would have with the synchronized version.

[2016-11-15 18:51] Pireax commented on #44
Just setting the exec-path like I did with load-path would work right? And indeed it is a bit of a roundabout way to do it but you don't really notice the performance as it is done "behind the scenes". Anyways I'll benchmark the flycheck-rust-find-target function and look if the JSON parsing is the problem or if its the cargo call.

[2016-11-15 19:08] Pireax commented on #44
It's definitely only call-process that is causing this issue, it takes 6 seconds for me... The whole function takes 6.5 seconds.

[2016-11-15 19:41] lunaryorn commented on #44
@Pireax In this case I'd rather prefer to go without an additional dependency, and call cargo asynchronously with `start-process`.

[2016-11-15 20:03] Pireax commented on #44
Starting a new emacs process using `start-process` definetly is a lot faster than a call to `start-process` with cargo(not taking into account how long it takes for the process to finish). I don't know if this is the case just on my end but if it isn't I think it would make sense to use emacs-async.

[2016-11-15 20:55] lunaryorn commented on #44
@Pireax `start-process` does not block… I guess you referred to `call-process` which is what we're using currently.  But it makes no sense to `start-process` a separate Emacs instance with an additional dependency just to `call-process` another program: You could just `start-process` the other program—`cargo` in this case—directly.

IOW, if it's the cargo invocation that is slow we have no need fo

[2016-11-15 23:20] Pireax commented on #44
I am talking about `start-process`, not `call-process`, I don't know why this is the case and I agree it is very perculiar but it blocks.

[2016-11-15 23:44] lunaryorn commented on #44
Oh sorry I misunderstood you.  I see the problem but I'm unsure whether that's a general issue.

How long does start-process with cargo block on your system?  How does it behave on the terminal?  Try "time emacs --help" versus "time cargo --help".

I wonder why starting cargo should be so much slower than starting Emacs, and I'd like to confirm that it's really a general issue before we use async.

[2016-11-16 09:02] Pireax commented on #44
Here are some numbers:
`time emacs --help`: 0.15s
`time cargo --help`: 6.17s
Note the following numbers are the time it takes to execute `start-process`.
`(start-process "e" nil "emacs" "--help")`: 0.05s
`(start-process "c" nil "cargo" "--help")`: 6.44s

This looks like it may be a cargo issue.

[2016-11-16 09:48] lunaryorn commented on #44
@Pireax Wow, that doesn't look right 😳  But I'm not sure whether that's something we should work around in this extension: I've never seen this issue before (with any executable), and I strongly suspect that it's a cargo problem.  After all, it means that cargo takes over 6 seconds to even load the executable into memory and that's really quite unusual.

Could you try to find out whether that's a

[2016-11-16 09:57] lunaryorn commented on #44
Besides, please be aware that Flycheck does not claim to support Windows.  Please understand that we are wary to add workarounds for issues that only occur on Windows—an issue would really have to be quite bad and affect a vast majority of Windows users (e.g. https://github.com/flycheck/flycheck/issues/794) for us to explicitly work around it, all the more if the work around comes at the price of

[2016-11-16 14:14] Pireax commented on #44
As far as I've been able to find out it isn't a know issue in Cargo. And I understand that this isn't something this package should try to account for. rustc also gives me the same problem, and it gets even wierder, it only blocks when supplying arguments like `--help` without arguments it runs fine, both in the console and in emacs with `start-process`. I also tried other rust programs but didn't

[2016-11-16 14:37] lunaryorn commented on #44
@Pireax Are you using cygwin or something like that perchance?

[2016-11-16 14:39] Pireax commented on #44
@lunaryorn No nothing of the like, just good ol' cmd/windows.

[2016-11-16 14:43] lunaryorn commented on #44
@Pireax  You don't happen to use some anti virus software?

I guess you should report that to Rust itself, with detailed information about the system, etc.  It's quite unusual for a program to take 6s to even load, before the process get's spawned.

If you get the chance I'd recommend to try and reproduce the problem on another Windows system, or at least in a fresh user account with no background

[2016-11-16 14:43] lunaryorn commented on #44
I'll close this issue as wontfix.

[2016-11-16 14:43] #44 closed

[2016-11-16 15:09] Pireax commented on #44
@lunaryorn Just booted to safe-mode, no problems there. Turns out it is indeed my anti-virus software😠. Thank's for the help.

[2016-11-16 15:20] lunaryorn commented on #44
@Pireax You're welcome :relaxed:

[2016-12-09 15:38] fmdkdd commented on #26
Looks like this PR will fix this issue with `-Z no-trans`: https://github.com/rust-lang/cargo/pull/3296.  I'm making a note here to come back and add `cargo check` to flycheck when it has landed.

[2016-12-12 19:22] fmdkdd opened #45 "Errors are not always output as JSON"
By passing the `--error-format json` to `cargo rustc`, we have error messages as JSON only for the *final* `rustc` invocation.  Any intermediary compilation will still output error messages in the human-readable format.

For example, if the file `examples/foo.rs` requires the library crate `src/lib.rs` which contains errors, then when compiling the library crate directly we get the error as JSON,

[2016-12-12 19:25] fmdkdd commented on #36
Closing.   Feel free to reopen if the issue pops again.

[2016-12-12 19:25] #36 closed

[2016-12-12 19:28] fmdkdd opened #46 "Prefer `cargo metadata --no-deps` to `cargo read-manifest`"
`cargo read-manifest` is deprecated, and does not support workspaces.

We'll need to adapt the parser slightly, because the output is different (there are additional top-level "package" objects around the target we want).

[2016-12-13 06:35] nrc commented on #26
I'm not sure that `cargo check` will fix this issue - since we still don't execute the trans phase, any error which is caught in that phase will still slip through.

[2016-12-13 11:31] fmdkdd commented on #26
@nrc Oh.  I got the impression from [your comment](https://github.com/rust-lang/cargo/pull/3296#issuecomment-264079907) that `cargo check` was an improvement over passing `-Z no-trans` for exactly this issue.

Re-reading that comment, it seems it will still be an improvement over using `-Z no-trans`, even if it doesn't report errors in the trans phase.

Some day we'll be able to get *all* errors q

[2016-12-14 07:41] nrc commented on #26
It is an improvement, but for a different issue - it works with syntax extensions/compiler plugins/build scripts. The RLS will use `cargo check`, so will still miss out on those trans errors. Perhaps someday we'll figure out how to check for them before trans...

[2016-12-26 18:55] Wilfred opened #47 "rustc invocation does not work with panic=abort configurations"
I have a rust project that contains the following in its Cargo.toml:

[code]

The command that gets run is:

[code]

This can't be parsed by flycheck:

[code]

[2016-12-27 17:01] fmdkdd commented on #47
When I try the above settings on a test crate, I can indeed reproduce the issue.  Thanks for the report 👍

`cargo build` reports no error.  And removing the `--test` flag to `cargo rustc` makes the error go away.  I don't really understand *why* rustc reports an error here, but I haven't looked into custom panic handles in Rust.

Regardless, we should be able to report the error as-is in Flycheck.

[2017-01-05 16:05] TyOverby opened #48 "Flycheck-rust just says "aborting due to 3 previous errors""
There's no actual mention of what the errors are.

This is on a project that builds without issue with `cargo build`

<img width="772" alt="screen shot 2017-01-05 at 8 04 39 am" src="https://cloud.githubusercontent.com/assets/573215/21687314/aa6d5eba-d31d-11e6-80dc-400e20842b40.png">

[2017-01-05 16:23] fmdkdd commented on #48
That's a terribly unhelpful error message.  Sorry for that.   Can you give me the output of `flycheck-compile` (C-c ! C-c) for `rust-cargo` on this file?

[2017-01-05 16:35] TyOverby commented on #48
[code]

Interesting that it does give the other errors that it found, but it's even more odd that those "errors" don't show up in my actual build.

[2017-01-05 16:35] TyOverby commented on #48
Is there a way that I can see what version of rustc it's using?

[2017-01-05 16:39] TyOverby commented on #48
Notice how the invocation of `cargo build` is fine, but the invocation of `cargo rustc` breaks in the same way that `flycheck-compile` does.

<img width="1346" alt="screen shot 2017-01-05 at 8 38 21 am" src="https://cloud.githubusercontent.com/assets/573215/21688606/5c060682-d322-11e6-8869-2fc9bdd1fa74.png">

[2017-01-05 18:05] fmdkdd commented on #48
Thanks, I can indeed reproduce by cloning your repo.  Looking into it.

[2017-01-05 18:15] TyOverby commented on #48
I think I know what's going on, and this is probably not a bug in flycheck-rust, it's just that I didn't understand how flycheck works...

1. I thought that `flycheck-list-errors` would list all the errors for my whole project.  This is apparently not the default behavior, and it shows only errors for the current file (or global errors)
2. Those compilation errors *are real* but they're in a #[tes

[2017-01-05 18:31] fmdkdd commented on #48
Ah, you beat me to it.

Point 1 has actually been brought up before.  There was a PR flycheck/flycheck#972, but progress has stalled for various reasons.

Point 3 is actually an unwanted side-effect of fixing flycheck/flycheck#1182.  The message "aborting due to 3 previous errors" should be filtered out by flycheck, and flycheck/flycheck#1187 should take care of it.  I notice that my fix was incom

[2017-01-05 18:31] #48 closed

[2017-01-05 21:15] TyOverby commented on #48
@fmdkdd Would you be willing to mentor me as I attempt to add project-wide error messages to flycheck?  I'm really new to emacs lisp and it looks like you know your way around flycheck + flycheck-rust!

[2017-01-06 00:13] fmdkdd commented on #48
@TyOverby That's actually a feature that I would like to see implemented as well.  From a cursory reading of the PR discussion, it does not look like an easy task to complete.  But, that PR in its current state may be a good place to start.

I don't know flycheck inside-out, but I can follow the lisp.  I'll be happy to help you out, but expect more than a few bumps in the road before we manage to

[2017-02-07 12:57] fmdkdd commented on #45
Fixed by flycheck/flycheck#1201.

[2017-02-07 12:57] #45 closed

[2017-02-11 16:32] simao opened #49 "Getting couldn't read "src/main.rs": No such file or directory (os error 2)"
`flycheck-rust` reports this error whenever I open a rust file.

The file `src/main.rs` exists and is the file I am currently opening. Do I miss some config here?

I am using only `rust-mode` and `flycheck-rust` from melpa, with:

[code]

Thanks

[2017-02-11 16:57] fmdkdd commented on #49
Are you per chance on Windows?

[2017-02-11 17:42] simao commented on #49
No, linux.

Am 11. Februar 2017 17:57:09 MEZ schrieb fmdkdd <notifications@github.com>:

[2017-02-11 17:53] fmdkdd commented on #49
I cannot yet reproduce.  Can you give me the output of `flycheck-verify-setup` (`C-c ! v`)?  And maybe the steps to reproduce from a vanilla `emacs -Q`?

[2017-02-11 18:08] simao commented on #49
Here is the output of flycheck-verify-setup:
https://gist.github.com/simao/7c63ff475667e1f2b94c9908e6f96fdb

With a vanilla emacs and after installing rust-mode and flycheck-rust
via melpa, I open the same file and I get a different error:

[code]

Thanks!

On Sat, Feb 11, 2017, at 18:53, fmdkdd wrote:

Links:

  1. https://github.com/flycheck/flycheck-rust/issues/49#issuecomment-279163390
  2. ht

[2017-02-11 18:45] fmdkdd commented on #49
Curious.  `flycheck-verify-setup` lists `rust-cargo` as unregistered, so it should not run.  Something in your config is defining `flycheck-checkers` before `flycheck` loads.  That's a first issue.

For the `emacs -Q` run, it looks like `cargo rustc` cannot compile your project.  What does `cargo rustc --verbose` returns if you run it manually in your project?

[2017-02-11 21:28] simao commented on #49
Ok, indeed, I had an old flycheck-checkers config in  custom variables.
I removed it and now I get exactly the same message I get when I run
with `emacs -Q`.

I do not have rust-cargo installed, or at least I did not install it
explicitly.

Here's the output of `cargo rustc --verbose`:
https://gist.github.com/simao/631f8b06b109589a086ca1e270dea758

Simao

On Sat, Feb 11, 2017, at 19:45, fmdkdd wro

[2017-02-11 23:39] fmdkdd commented on #49
Hmm so `cargo rustc --verbose` run does not report any error when run manually, but does when running through flycheck?

Can you report what `M-x flycheck-compile` does in the buffer visiting `src/main.rs`?  If prompted for a checker name, input `rust-cargo`.

`rust-cargo` is just the name of the rust checker Flycheck uses to call cargo.

[2017-02-11 23:45] simao commented on #49
This is the output when I run flycheck-compile:

[code]

If I try running this command in the cli I get the same output,
but `cargo build` works fine, but it does show some code warnings,
dead code etc.

On Sun, Feb 12, 2017, at 00:39, fmdkdd wrote:

Links:

  1. https://github.com/flycheck/flycheck-rust/issues/49#issuecomment-279184253
  2. https://github.com/notifications/unsubscribe-auth/AAMbN9

[2017-02-12 10:29] fmdkdd commented on #49
Okay, can you run manually in your project:

1. `cargo rustc --bin s --message-format=json --verbose -- -Z no-trans`
2. `cargo rustc --bin s --message-format=json --verbose`

And also let me know `rustc --version` and `cargo --version`?

[2017-02-12 11:24] simao commented on #49
1. https://gist.github.com/simao/067703edc0ca6b2ff06dc7c7b0a4b776

2. https://gist.github.com/simao/1c72790b7ac685ed3e102ae0db18eb68

rustc 1.14.0

cargo 0.15.0-dev (298a0127 2016-12-20)

On Sun, Feb 12, 2017, at 11:29, fmdkdd wrote:

Links:

  1. https://github.com/flycheck/flycheck-rust/issues/49#issuecomment-279209246
  2. https://github.com/notifications/unsubscribe-auth/AAMbNwY-Pk2mzNWswqm9SI

[2017-02-12 11:56] fmdkdd commented on #49
Right!  So you are using Rust 1.14, and we recently moved to to require 1.15 (see flycheck/flycheck#1201).  Sorry for the inconvenience.

If you update to the latest stable Rust, it should work for you.  Sorry for the long back-and-forth.

[2017-02-12 14:08] simao commented on #49
oh sorry I didn't see that. It works now, thanks!

On Sun, Feb 12, 2017, at 12:56, fmdkdd wrote:

Links:

  1. https://github.com/flycheck/flycheck/pull/1201
  2. https://github.com/flycheck/flycheck-rust/issues/49#issuecomment-279213544
  3. https://github.com/notifications/unsubscribe-auth/AAMbN7ehYJncfGXyI30OqT4laum7zwcrks5rbvOEgaJpZM4L-ODi

[2017-02-12 14:09] fmdkdd commented on #49
Good to know.  Happy hacking :)

[2017-02-12 14:09] #49 closed

[2017-02-19 16:04] hansihe opened #50 ""Compilation exited abnormally with code 101""
I'm using flycheck-rust with spacemacs.

When editing a rust file, a buffer pops up on the bottom with the end of the compiler output, and a note that `Checker definition is probably flawed`.

When doing `flycheck-compile` with `rust-cargo`, the output is as follows.

[code]

As far as I can tell, executing rustc works just fine, but it expects a different exit code?

[code]

[2017-02-20 10:04] fmdkdd commented on #50
Can you report the output of `flycheck-verify-setup` as well?  I suspect your Flycheck version is outdated.  We switched to JSON output for cargo a few months ago, and there is no trace of that flag in your `flycheck-compile` command.  Try updating your packages.

[2017-02-20 14:15] hansihe commented on #50
That seems to be the problem. I recently switched to spacemacs, and I presumed updating spacemacs would also update packages.

Thanks for the help!

[2017-02-20 14:15] #50 closed

[2017-02-20 14:37] fmdkdd commented on #50
Glad it works :)

[2017-03-11 10:48] apiraino commented on #23
Hello,

not sure it's related, I get a slightly different error when compiling an `.rs` file outside the `src` directory. Here's my project tree:
[code]
`test.rs` is being copied in those three dirs, it's exactly the same file. If I open `src/main.rs` and `prova/test.rs` Flycheck runs fine; on `example/test.rs` I got the error:
[code]

I can reproduce running the cmd manually:
[code]

Currently ru

[2017-03-13 10:43] fmdkdd commented on #23
@apiraino Yes, `example` is currently not supported by Flycheck, and that should be fixed by flycheck/flycheck#1206 that hasn't been merged yet.

[2017-03-16 18:55] z1mvader opened #51 "some benefit from "cargo check"?"
Is possible to improve flycheck-rust with the introduction of the command `cargo check` on rust 1.16?

[2017-03-16 19:25] imadie commented on #51
that would be awesome

[2017-03-17 11:26] fmdkdd commented on #51
Thanks for reminding me of this.

We already pass `-Z no-trans` to rustc in Flycheck to avoid compiling binaries and taking too much time.   I suspect we won't see a significant improvement by using `cargo check`;  the only benefit would be to [support some advanced uses](https://github.com/rust-lang/cargo/pull/3296#issuecomment-264079907) that `-Z no-trans` did not.

[2017-03-17 11:37] fmdkdd commented on #51
I just tested it, and `cargo check` [cannot currently check code](https://github.com/rust-lang/cargo/issues/3431) inside `#[cfg(test]`, so that would be a regression in functionality.  I think we better to stick to `-Z no-trans` until this is resolved at least.

[2017-03-17 11:37] #51 closed

[2017-03-17 12:44] imadie commented on #51
Thanks, then I think we will wait :)

[2017-03-22 10:06] #38 closed

[2017-03-22 10:07] fmdkdd commented on #46
Fixed with #43.

[2017-03-22 10:07] #46 closed

[2017-03-22 10:08] fmdkdd commented on #8
Now that we solely use `cargo metadata` in #43, I believe this can be closed.

[2017-03-22 10:08] #8 closed

[2017-03-22 10:12] fmdkdd commented on #47
Fixed in flycheck/flycheck#1182.

[2017-03-22 10:12] #47 closed

[2017-03-30 13:20] m-cat opened #52 "flycheck-rust-setup errors"
I'm getting the following errors when opening a Rust buffer:

[code]

My init.el setup:
[code]

Running `flycheck-verify-setup`:

[code]

[2017-03-30 15:08] fmdkdd commented on #52
Thanks for the report.  Not sure what's going on here.  Maybe something in Emacs 26?

Maybe try to change the `(when-let` in `flycheck-rust-get-cargo-targets` to `(-when-let*.

Can you report your `cargo` version as well?

[2017-03-31 12:08] m-cat commented on #52
Thanks, changing it to `(-when-let` fixed the first error for me. But I'm still getting this:

[code]

My cargo version is `cargo 0.16.0-nightly (6e0c18c 2017-01-27)`

Thanks for the help!

[2017-03-31 13:29] fmdkdd commented on #52
Okay so now that `flycheck-rust-setup` does run, it fails to correctly identify the targets in your cargo project.   Can you share the output of `cargo --metadata --no-deps` for your project?

[2017-03-31 13:58] m-cat commented on #52
[code]

Different project, same error:

[code]

[2017-03-31 14:09] fmdkdd commented on #52
Hmm, no reason why it shouldn't work: nothing funny in the cargo output.

After you open `main.rs` and run `M-x flycheck-rust-setup`, does `flycheck-verify-setup` still report:
[code]
?

[2017-03-31 15:00] m-cat commented on #52
Yep, that report looks fine. I also just tried on Emacs 24.5. I even tried deleting my `elpa` folder to let `use-package` re-download and compile all of my packages for me. Same exact error.

[2017-03-31 15:13] fmdkdd commented on #52
Thanks, I'll see if I can reproduce on my side.

[2017-03-31 18:17] fmdkdd commented on #52
Hmm, wait.  Did you change that line to `-when-let*` or `-when-let`?

Here's the change I was suggesting:
[code]

[2017-03-31 18:33] m-cat commented on #52
Glory hallelujah it worked! Sorry, I thought that asterisk was a typo. Thanks a lot!

So is this just an issue on my side? I'm curious why I'm the first one who's hit this.

[2017-03-31 19:13] fmdkdd commented on #52
Yeah, the asterisk was important.  But I mistyped the backtick so it didn't look as `code`.  Sorry about that.

The plain `(when-let` works in Emacs 25.1.1, so probably Emacs 26 made some changes to it.  I guess not everyone is using the freshest Emacs from the repo.

Still a bug (just pushed the fix), thanks for reporting and for going through with the debugging 👍

[2017-03-31 19:13] #52 closed

[2017-04-04 10:37] Dushistov opened #54 "Flycheck fails with a cdylib crate type"
Suspicious state from syntax checker rust-cargo: Flycheck checker rust-cargo returned non-zero exit code 1, but its output contained no errors: error: Unknown flag: '--cdylib'

Usage:
    cargo rustc [options] [--] [<opts>...]

Try installing a more recent version of rust-cargo, and please open a bug report if the issue persists in the latest release.  Thanks!

[2017-04-04 10:53] Dushistov commented on #54
With other crates flycheck-rust works fine, but with this crate with
`crate-type = ["cdylib"]` in Cargo.toml it reports this strange error.

[code]

[2017-04-04 11:29] fmdkdd commented on #54
When you use `rust-cargo`, we pass the crate type to `cargo rustc` (see [the code](https://github.com/flycheck/flycheck/blob/master/flycheck.el#L8979-L8981)) for the build target type (lib, bin, example, bench, or test).

The `cdylib` is for plain `rustc`, no?  I have no experience with building cdylib crates; if you can tell me how you build your project with cargo, we can see how to instruct Fly

[2017-04-04 11:42] Dushistov commented on #54
No, it is supported by `cargo` since rustc 1.11 or so.

To reproduce my issue you need:

[code]

after that add such lines into `Cargo.toml`:

[code]

after that open `foo/src/lib.rs` in emacs

to build project I use `cargo build`

If run `cargo build -v -v` `cargo` report that it invoke `rustc` in such way:

[code]

[2017-04-04 12:23] fmdkdd commented on #54
Thanks for the steps; I can indeed reproduce.

So the issue is that `flycheck-rust` uses `cargo metadata` to figure out what target to build when calling `cargo rustc`.  Here, `cargo metadata` returns:

[code]
And `flycheck-rust` tries to pass `cdylib` as target to `cargo rustc`, but `cargo rustc` understands only `lib, bin, example, bench, test`.  In fact, `cargo rustc --lib -v - v` shows that `c

[2017-04-04 12:32] Dushistov commented on #54
`cdylib` force `cargo` to build shared libraries that possible to use outside of rust world.
For example `.so` on linux and `.dll` on windows.
So if divide world into two parts `lib` and `bin`, then it is `lib`.

Why so complex? I thought that flycheck just run `cargo check` and parse it's output.

[2017-04-04 12:42] fmdkdd commented on #54
Thanks for the crash course :)  I'll have to dive deeper to see if the `cdylib => lib` assumption is correct.

Calling `cargo rustc` provides us with more flexibility (see #51).  But even if we did use `cargo check`, when you have multiple targets in your project (think one `lib` and one or more `bin`), you want to know which target to build depending on the file your are visiting in Emacs to avoi

[2017-04-04 15:03] fmdkdd commented on #54
The way I understand the [docs](http://doc.crates.io/manifest.html#building-dynamic-or-static-libraries), it seems that specifying the `crate-type` option in a `[lib]` is just a way to tell `rustc` which library type to build.  But you are still building a library, so it seems to me that when `cargo metadata` gives us a `dylib, cdylib, rlib, staticlib, proc-macro`, it means that the build target i

[2017-04-04 15:42] #54 closed

[2017-04-04 18:04] fmdkdd commented on #54
@Dushistov Does the new version works for you?

[2017-04-04 18:31] Dushistov commented on #54
@fmdkdd Yes, thanks.

[2017-04-04 19:30] fmdkdd commented on #54
@Dushistov Great!  Thanks for the report :)

[2017-04-04 20:56] Dushistov opened #55 "Flycheck does not include dev-dependencies when running tests"
Steps to reproduce:

1. `cargo new --lib foo`
2. Add to Cargo.toml such lines:
[code]
3. Add to `lib.rs` such lines:
[code]
4. Run `cargo build`

after that flycheck underline with red line: `extern crate lazy_static;` and show hint around this line:
`can't find create for 'lazy_static'`,
but `cargo test|build|check` reports no errors.

[2017-04-05 09:28] fmdkdd commented on #55
I can reproduce.

So with this setup, we end up calling `cargo rustc --lib -- --test`.  But the `lazy_static` crate is never included that way, because `cargo` doesn't know we want to build tests (we pass the flag directly to `rustc`).

Note that here, neither `cargo build` nor `cargo check` do compile the test code; only `cargo test` does.  But not only `cargo test` compiles the test, it *runs* i

[2017-04-05 11:35] Dushistov opened #56 "Flycheck does not refresh errors when other files have changed"
Let we have crate without any dependicies and one module `mod1`.

[code]

if we open `mod1.rs` into emacs it shows error:
`cannot find macro debug`

after that we can fix this error by adding:
[code]
to `Cargo.toml`
and
[code]
to `src/lib.rs`

but after all manipulation, and successefull run of `cargo check|build|test`,
if come back to `mod1.rs` it still show error.

Because of `mod1.rs` not chang

[2017-04-05 11:39] Dushistov commented on #56
This is minimum, I suppose, for 100% correct results flycheck-rust need rerun check if any
".rs" + Cargo.toml file changed on disk.

[2017-04-05 13:08] fmdkdd commented on #56
Ah yes, well I'm afraid you've hit a Flycheck limitation here.  Flycheck works per-buffer, not per-project.  That means that if buffer A has an error that can be fixed by editing buffer B, Flycheck has no knowledge that editing B should re-trigger a syntax check in A.

This is not rust-specific; the same happens when checking C, where if you have an error in `foo.c` that can be fixed by going into

[2017-04-06 13:09] fmdkdd commented on #55
I've found a way to make it work without breaking other cases using a combination of `cargo check` and `cargo test`.  You can try out the [branch](https://github.com/flycheck/flycheck/tree/rust-cargo-check).

There is one downside though: unlike `cargo rustc`, `cargo check` and `cargo test` will emit warnings only the first time they are run.  I enquire about this behavior on cargo itself.

Untill

[2017-04-22 11:39] art-solopov commented on #23
I'm actually having the same error when editing an `src/main.rs` file.

[code]

Flycheck 20170415.1006
Flycheck-rust 20170404.842
rustc 1.16.0
cargo-0.17.0-nightly

[2017-05-16 08:39] fmdkdd commented on #51
Update: using `-Z` flags on stable [may soon be an error](https://github.com/rust-lang/rust/pull/41751), rather than a warning.  Thus, we will then have to migrate to `cargo check`.

However, at the moment `cargo check` still does not check unit tests, but [there is an ongoing PR](https://github.com/rust-lang/cargo/pull/4039).

[2017-07-16 00:41] ryukinix commented on #52
This affects me yet. I should open a new Issue?
System info:
`Emacs: GNU Emacs 25.2.1 (x86_64-unknown-linux-gnu, GTK+ Version 3.22.10)
 of 2017-04-22`
`flycheck-rust: 20170404.842`
`cargo: cargo 0.21.0-nightly (70b89fdd7 2017-07-10)`

[2017-07-16 01:02] ryukinix commented on #52
I got this only on projects with more than file, usually using `cargo-rust` checker via `C-c ! C-c rust-cargo RET`:
[code]

[2017-07-16 01:14] ryukinix opened #57 "On a Cargo project, to get flycheck running okay is mandatory lib.rs?"
Because when I try check projects without `lib.rs` (only `main.rs`) I got this on `C-c ! C-c rust-cargo RET` on any file:

[code]

[2017-07-16 08:19] fmdkdd commented on #57
Are you using `flycheck-rust` in addition to `flycheck`?  `flycheck-rust` takes care of setting the correct cargo target for you, depending on the current buffer, but you have to [set it up manually](https://github.com/flycheck/flycheck-rust#installation).

[2017-07-16 10:34] ryukinix commented on #57
Yes, I installed `flycheck-rust` and works well when I have a file `lib.rs` on cargo project or I edit a simple file. On my initial startup I added a hook `(add-hook 'flycheck-mode-hook #'flycheck-rust-setup)` to load the flycheck-rust-setup in that way:

[code]

[2017-07-16 11:00] ryukinix commented on #57
If you want try replicate the same problem, you can clone [this](https://github.com/ryukinix/conway-rs) repository in [that](https://github.com/ryukinix/conway-rs/commit/d5a36114cd218b4f78e2f7fe22f14461bb748f48) (before I added `lib.rs`, because this fixed).

Steps:
1. Clone the repository
[code]
2. Try edit any file inside `src/`

I always receive on my mini-buffer:
[code]

[2017-07-16 11:12] fmdkdd commented on #57
Okay, then we will have to dig deeper.  For me, opening the `main.rs` in a project created by `cargo new --bin foo` works.  Here is what `flycheck-verify-setup` reports:
[code]
You can also check the value of `Crate type` using `flycheck-rust-crate-type`.  This variable should be set by `flycheck-rust-setup`.  Do you get `bin` or `lib` in this case?

If you get `lib`, then please report the follow

[2017-07-16 11:30] fmdkdd commented on #57
@ryukinix Didn't see your message before my previous reply.  Your project is correctly detected for me:
[code]
So the previous reply still stands.  Also, please make sure you have the latest `flycheck-rust`.

[2017-07-16 11:54] ryukinix commented on #57
Thanks for the fast reply and the detailed description. This is really weird! :( I don't know what more I can do.
Maybe can something related to the my `init.el` stuff? I'm thinking about that because one thing bothered me: the `C-c C-c` is not binding to the 'compile on `rust-mode`.
My installed version of `flycheck-rust` is: `20170404.842`. The last from melpa. This is the latest, right?

Well..

[2017-07-16 14:20] ryukinix commented on #57
Value: `"lib"`
Expected: `"bin"`

[code]
[code]
❯ cargo metadata --no-deps --format-version 1
{"packages":[{"name":"conway","version":"0.1.0","id":"conway 0.1.0 (path+file:///home/lerax/Desktop/conway-rs)","license":null,"license_file":null,"description":null,"source":null,"dependencies":[{"name":"rand","source":"registry+https://github.com/rust-lang/crates.io-index","req":"^0.3","kind":null,"opti

[2017-07-16 14:23] ryukinix commented on #57
How I can ensure the `flycheck-rust-setup` are been called?

[2017-07-16 14:32] ryukinix commented on #57
WELLL, sorry for the shame! The whole problem was my `init.el` setup which are not calling the my rust hooks! My shame, my bad.

Thanks for all the support! You help me try to figured out what are happening. Fixed problem. Thanks for the helps! Great package!

Cheers.

[2017-07-16 14:32] #57 closed

[2017-07-16 14:44] fmdkdd commented on #57
No worries.  Glad it works for you, and have fun with Rust!

[2017-07-20 20:57] thejefflarson commented on #51
Hi, it is now an error in the rust version released [today](https://blog.rust-lang.org/2017/07/20/Rust-1.19.html).

I'll hold off on using 1.19 for now, as it looks like the upstream PR is still not merged https://github.com/rust-lang/rust/pull/41751 but it looks like a tricky one to fix without that. Thanks for flycheck-rust it is great!

[2017-07-20 21:07] fmdkdd commented on #51
Argh!  Thanks for the heads-up.  Looks like we'll have to use `cargo check` without unit tests then.  I'll try to make a PR tomorrow.

[2017-07-21 18:43] fmdkdd commented on #26
Closing since this `-Zno-trans` is now an error in Rust 1.19.

[2017-07-21 18:43] #26 closed

[2017-08-28 22:31] stieg commented on #41
I hit a similar error in typescript.  Problem was that typescript was not available on the PATH.  Thus it would crash like this:
[code]
Installing typescript globally solved the issue.

[2017-08-28 22:32] stieg commented on #41
I guess it would be better if flycheck failed with a more obvious error than 'json-readtable-error'

[2017-08-28 22:33] stieg commented on #41
@lunaryorn Possible to re-open this and track improving the error message here?  Or do you want a new bug for that?

[2017-08-29 05:39] lunaryorn commented on #41
I do not maintain Flycheck any longer; Im not even using Emacs anymore.

 In doubt open a new issue but please do not mention me.

[2017-08-29 08:35] fmdkdd commented on #41
@stieg Can you open a new issue on flycheck/flycheck proper?  This issue tracker is for bugs related to `flycheck-rust` specifically.

[2017-08-29 17:52] stieg commented on #41
@fmdkdd Sure.  Cheers.

[2017-10-10 17:13] ZelphirKaltstahl commented on #44
fwiiw: The long blocking still happens when saving a file, which triggers the flycheck thing to do its thing, at least for me it does. Since saving frequently has become a reflex, it can sometimes be annoying. It would be great if this could be run concurrently.

[2017-10-11 08:29] fmdkdd commented on #44
@ZelphirKaltstahl This issue was specifically about `flycheck-rust-find-target` taking a long time, which happens only once when you open a Rust file with the `flycheck-rust` extension.

If you get UI lock ups when saving a file, then that's a different issue.  When saving a file, we do indeed run `cargo rustc`, but we already run it asynchronously with `start-process`.  I don't experience any UI

[2017-10-11 08:30] fmdkdd commented on #44
If you do experience UI locks when saving, then please open a separate issue so we can look into it.

[2017-10-11 19:26] ZelphirKaltstahl commented on #44
@fmdkdd Huh, weird, exactly that kind of blocking *is* happening for me. Maybe I am not on the up to date version (afaik I installed from Melpa stable). But I should really make a new issue for this ; )

[2017-10-11 20:28] fmdkdd commented on #44
@ZelphirKaltstahl Well, it couldn't hurt to test the latest version.  In fact, we pushed 31 to Melpa stable a few days ago :)

[2017-10-21 05:29] djanderson opened #58 "Does not support emacs25"
Emacs25 has seq 2.3 built-in, but you require "2.15". Since 15 > 3, flycheck-rust refuses to install. By changing `(seq "2.15")` to `(seq "2.3")`, I am able to manually install the package and it works fine.

[2017-10-21 08:59] fmdkdd commented on #58
How do you install the package?  If I do `package-install` from MELPA, it installs `seq` 2.20 (the latest) from ELPA to satisfy the dependency.

(We might not need seq 2.15 in any case, but it shouldn't be an issue)

[2017-10-22 05:40] djanderson commented on #58
Interesting, it looks like I dropped ELPA out of my init.el years ago and never had an issue running MELPA only until now, but I don't have any problem adding it back in so this solved the issue for me. Thanks!

[2017-10-22 05:40] #58 closed

[2018-01-05 14:42] TatriX opened #59 "flycheck-rust vs lsp-flycheck"
I'm trying to understand should I use this project or use lsp-flycheck?

[2018-01-05 17:10] fmdkdd commented on #59
`flycheck-rust` merely calls `cargo rustc`.  `lsp-flycheck` goes with `lsp-mode` and will interact with the Rust Language Server (RLS) using the language server protocol over stdio.

The latter may have faster turn-around, and other benefits (like auto-completion support), but may still be a bit rough around the edges.

If you just want errors/diagnostics in your buffer, use `flycheck-rust`.  If y

[2018-01-05 17:12] TatriX commented on #59
I see.
I have an issue with both packages: flycheck shows errors, well, rarely. Mostly I can get it work only once after I open the file. After editing and saving the file no errors will be shown.

[2018-01-05 20:53] fmdkdd commented on #59
Are you, perhaps using rust nightly?  There is currently a bug (flycheck/flycheck#1381) that prevents errors to be shown with nightly.  Rust stable should be fine though, if not, that's another bug!

[2018-01-05 20:54] TatriX commented on #59
Yeah, it's nightly.

[2018-01-07 03:40] benreynwar opened #60 "Option `Z` not accepted."
rustc 1.23.0 (766bd11c8 2018-01-01)
cargo 0.24.0 (45043115c 2017-12-05)
I just installed flycheck-rust from melpa today.
I'm getting the following error message when the syntax-checker runs:

Suspicious state from syntax checker rust-cargo: Checker rust-cargo returned non-zero exit code 101, but no errors from output:    Compiling hello v0.1.0 (file:///home/ben/Code/rust/hello)
error: the option `

[2018-01-07 11:33] fmdkdd commented on #60
You should update the `flycheck` package proper.

[2018-01-07 19:28] benreynwar commented on #60
That fixed it.  Thanks!

[2018-01-07 19:28] #60 closed

[2018-01-16 09:55] fmdkdd commented on #59
The fix for nightly has been merged.  Feel free to open a new issue if you encounter another bug in Flycheck :)

[2018-01-16 09:55] #59 closed

[2018-02-02 08:26] radupopescu opened #61 "Checking doesn't work for workspace projects."
Hi there!

I have a Rust project organized as a workspace - in the root of the project, there are two other sub-crates which are part of the workspace.

When editing the main file of the root project (`<PROJECT_ROOT>/src/main.rs`) or even the library part of the root project ('<PROJECT_ROOT>/src/lib.rs`) there are no issues with flycheck.

When editing the contents of any of the sub-crates (i.e. `

[2018-02-02 12:58] fmdkdd commented on #61
Do you have some code with which to reproduce?  A minimal example would be great.  Here I have no issues checking code inside a subcrate of [this project](https://github.com/bluejekyll/trust-dns) for instance.

[2018-02-02 13:42] radupopescu commented on #61
Sure thing. Check out [this minimal project](https://gitlab.com/radupopescu/fc-root). I'm seeing the same behaviour: flycheck works for `fc-root/src/main.rs`, but doesn't for `fc-root/fc-sub/src/lib.rs`.

[2018-02-02 17:06] fmdkdd commented on #61
I'm sorry to report that it works on my side :/

Opening `fc-root/fc-sub/src/lib.rs`, I can type gibberish and get a syntax error, or create an unused variable and get a warning.

If I open `fc-root/src/main.rs`, same thing.

*However*, if there is an error in `fc-root/fc-sub/src/lib.rs`, then you won't get any error feedback when editing `fc-root/src/main.rs`, because Flycheck is not project-awar

[2018-02-02 20:01] radupopescu commented on #61
It seems that it's the rust version that breaks things. I am on Rust nightly (with `rustup default nightly`). If I switch to stable, I can reproduce all the behaviour you listed in your reply.

Is it a known thing that nightly doesn't work with Flycheck, or is it a regression in the version I have installed (`rustc 1.25.0-nightly (8ccab7eed 2018-01-31)`).

It's a bit annoying, because I switched t

[2018-02-03 16:38] fmdkdd commented on #61
Workspaces breaking on nightly is news to me.  On the other hand, our testing infrastructure is a bit lacking, so I can't say for how long this has been broken.  Luckily, we've got users who report bugs soon enough ;)

I've looked into this, and this stems from the fix to #1378 that was incomplete.  For workspace projects, `cargo` reports paths relative *to the workspace root*, not relative to the

[2018-02-03 17:07] radupopescu commented on #61
@fmdkdd Thanks for looking into this and for the in-depth explanation! Indeed, it sounds that getting absolute paths would be easiest on you guys and also make any tools based on these values less brittle.

[2018-02-03 17:13] radupopescu commented on #61
I tested `cargo metadata` on a stand-alone project (non-workspace), on nightly. The `workspace_root` data member is still present.

Does cargo return relative paths also in the case of non-workspace projects?

[2018-02-03 17:31] fmdkdd commented on #61
Yes it does, that was the cause of flycheck/flycheck#1378

[2018-03-13 11:50] fmdkdd commented on #61
Should be fixed by flycheck/flycheck#1422.

[2018-03-13 11:50] #61 closed

[2018-03-13 11:58] radupopescu commented on #61
Thanks!

[2018-03-14 12:38] fmdkdd commented on #55
Fixed in https://github.com/flycheck/flycheck/commit/b8084a23741f0a31ce95475790654c2bb9836d63.

[2018-03-14 12:38] #55 closed

[2018-03-18 02:46] re-mx opened #63 "Please improve installation notes"
Hello:

In you README:
[code]
In some cases it seems unreliable.

My advice:
[code]

Sorry for my poor English.

Thanks.

[2018-03-19 17:30] fmdkdd commented on #63
I think I wrote it that way since users may use `use-package` or something else.  But it may be best to provide more robust copy-and-paste instructions.

Fixed by 089330ac3bb49525ae6a8607a9ea978560ccf721

[2018-03-19 17:30] #63 closed

[2018-03-19 23:16] re-mx commented on #63
Thank you.

[2018-04-07 07:32] PatchesPrime opened #64 "rust-cargo checker doesn't recognize crate type"
Hello,

I have combed through your issues page (and extensively looked via google) and could not find a solution to the problem.  I have followed the installing instructions to the letter.

A few issues similar (if not the same, but still not working) to mine are: #16 #52 #23
I would have inquired there, but those issues are now closed.

Here is the information requested in those:

[code]

[code]

[2018-04-10 08:39] fmdkdd commented on #64
Can you try `M-: (flycheck-rust-get-cargo-targets "/home/patches/projects/rust/guessing_game/Cargo.toml")` and report its results (which you can see in the `*Messages*` buffer)?

[2018-04-10 09:01] PatchesPrime commented on #64
[code]

Sayin' the function does exist, looks like. If I run the flycheck-rust-setup first (which still errors) it will give `mapcar: Wrong type argument: listp, packages` instead.

[2018-04-10 12:29] fmdkdd commented on #64
Okay, another snippet to try:
[code]
Please execute that using `M-: <paste> RET` and report the output in `*Messages*`.  Hopefully this is the last!

[2018-04-10 12:38] PatchesPrime commented on #64
From the Backtrace buffer on first run:
[code]

However, after doing `M-x flycheck-rust-setup` as before (before I execute the elisp) I get this in messages:

[code]

If it's not the last one that's fine, I just want it to work. :)

[2018-04-10 12:53] fmdkdd commented on #64
That's strange.  It seems to parse fine here, but somehow `packages` ends up invalid when calling `flycheck-rust-setup`.  I can't reproduce on my end.  Do you have the issue on every Rust project, or just this one?

If you create a new binary project with `cargo --new foo` and open the `src/main.rs` file, does it work?

I would suggest reinstalling `dash` using `package-reinstall dash` and see if

[2018-04-10 13:14] PatchesPrime commented on #64
As far as the command `cargo --new foo`, --new is an unknown flag. It's just 'new'. Anyway, here is the output.

[code]

When doing flycheck-rust-setup, same result. It does not in fact work for other projects. Same across all of them.
`Error in flycheck-rust-setup: (wrong-type-argument listp packages)`

I reinstalled `dash` but that provided no benefit as far as I can tell. Exact same everything

[2018-04-10 13:33] PatchesPrime commented on #64
Okay, so sometimes I suppose something even more bizarre was at play. I decided I'd just go ahead and install all my packages again from a fresh install (I'm a simple man, only like 80 of them..) one by one and open the project then run `M-x flycheck-rust-setup`.

Now I can no longer reproduce it with the fresh package installs.

Something strange is happening, but it's not flycheck-rust.

You can

[2018-04-10 14:09] fmdkdd commented on #64
Ah!  Too bad we didn't catch the bug.  Glad it works for you :)

[2018-04-10 14:09] #64 closed

[2018-04-12 04:49] zwb-ict opened #65 "Error from syntax checker rust-cargo: JSON readtable error"
[code]

[2018-04-12 09:06] fmdkdd commented on #65
Thanks, but we are going to need a bit more information in order to pinpoint the problem.

Can you run `M-x flycheck-compile rust-cargo RET` with the buffer where you have this error and report its output?

Also, please report your cargo and rustc version.

[2018-04-12 10:15] ethercflow commented on #65
@fmdkdd Thank you, below is the info:

[code]
I run `M-x flycheck-compile rust-cargo RET` get
[code]

[2018-04-12 11:41] fmdkdd commented on #65
I can't reproduce the JSON readtable error.  If I call `(flycheck-parse-json)` on the output returned by `cargo test` you give, it parses fine.

I tried to clone your rust-recipes directory, and syntax checking is working fine when opening `mandelbrot/src/main.rs` or `iron-gcd/src/main.rs`.

Can you give me exact steps that trigger the error on your side?

[2018-04-12 11:46] ethercflow commented on #65
@fmdkdd I use https://github.com/hlissner/doom-emacs . After I open  `mandelbrot/src/main.rs` and move cursor, minibuffer will give this error info.

[2018-04-12 11:52] ethercflow commented on #65
@fmdkdd Open main.rs，enter `Ctrl-g` will reproduce this.

[2018-04-12 11:56] ethercflow commented on #65
Below is the config:
[code]

[2018-04-12 15:25] ethercflow commented on #65
@hlissner Would you please to see this issue?

[2018-04-12 22:16] hlissner commented on #65
@ethercflow I cannot reproduce this on Doom either. Can you invoke a backtrace? e.g. `M-x toggle-debug-on-error` and trigger the error, then copy the backtrace here.

[2018-04-13 05:10] ethercflow commented on #65
@hlissner Thank you for your help. Below is the backtrace.

[code]

[2018-04-13 08:58] fmdkdd commented on #65
Ah, I think I know what's going on.  @ethercflow can you run `cargo metadata --no-deps --format-version 1` in your mandelbrot project?

[2018-04-13 10:36] ethercflow commented on #65
@fmdkdd Cool

![image](https://user-images.githubusercontent.com/38067786/38730516-62404690-3f49-11e8-9e87-056d8da50958.png)

[code]

[2018-04-13 13:00] fmdkdd commented on #65
Yes, so that first line `warning: custom registry ...` is not JSON, and we should ignore it when parsing.  That's a bug on our side, that we didn't catch until now because that warning comes from your Cargo configuration.

I've sent a patch.  Thanks for the report!

[2018-04-13 13:32] ethercflow commented on #65
@fmdkdd Perfect! I update my local flychek.el, and it works very well!

[2018-05-02 13:17] Hi-Angel commented on #16
I don't get it, so how do I make flycheck to work with rust? E.g. I have a single `main.rs` — where should I add these `src/bin` paths OP mentioned?

[2018-05-03 08:08] fmdkdd commented on #16
@Hi-Angel The issue is rather old.  If you have setup `flycheck-rust` as per the README, it should take care of configuring `flycheck` for you by calling `cargo` in order to determine the build targets.

[2018-05-03 08:13] Hi-Angel commented on #16
@fmdkdd the part of README about setup is rather short, it's:

Without any references. I've no idea what would that mean.

To get the error I simply do:

1. `cargo new --bin foo`
2. Then open `foo/src/main.rs`, and use <kbd>M</kbd>-<kbd>x</kbd> <kbd>flycheck-mode</kbd>.

[2018-05-03 09:30] fmdkdd commented on #16
That's the description of the project.  Below that, you can find installation instructions, namely (after installing `flycheck-rust` from MELPA):
[code]
You can of course call `M-x flycheck-rust-setup` manually, but that would get tedious rather quickly.

[2018-05-03 09:39] Hi-Angel commented on #16
I see, thank you. Would that perhaps be better to move this part into the `#Usage` section? Also, the description of the project doesn't sound like description. I'd put there just `Flycheck support for Rust language`.

[2018-05-27 16:18] #65 closed

[2018-07-26 23:00] cocodrino opened #66 "unknown debugging option no-trans"
Hi guys, Ive just installed the rust layer on spacemacs, racer works ok but I'm getting  "unknown debugging option no-trans" on my flycheck in the first line of my code...

rust and flycheck seems ok
[code]

what could be the problem here???

thank you so much guys, any question please let me know...

[2018-07-27 08:18] fmdkdd commented on #66
Try updating the `flycheck` and `flycheck-rust` packages.

[2018-08-14 20:23] mikhail-krainik opened #67 "Error while checking syntax automatically: (void-function flycheck-rust-manifest-directory)"
Hi guys, I use rustic-mode and I faced with next error.
[code]
I installed these versions elpa/flycheck-20180720.947 and elpa/flycheck-rust-20180327.1645
Maybe someone knows how I can avoid this error?

[2018-08-14 20:58] mikhail-krainik commented on #67
outdated

[2018-08-14 20:58] #67 closed

[2018-08-17 22:34] little-arhat opened #68 "Get "required-features" for target and set them"
Since it's currently impossible to define additional dependencies for a binary, some projects use workaround with `required-features` ([link](https://github.com/rust-lang/cargo/issues/1982#issuecomment-288537363)). To build such target one need to provide these required features:

[code]

`flycheck-rust` should extract `required-features` and configure `rust-cargo` checker to use it.
`rust-cargo`

[2018-08-21 22:34] little-arhat commented on #68
https://github.com/rust-lang/cargo/pull/5902#event-1801344680 -- pull request adding `required-features` to `cargo metadata` output has been merged.

[2018-08-22 09:30] fmdkdd commented on #68
That was quick!  Do you want to make the PR that extracts the `required-features` field as well?

[2018-08-22 18:37] peterwvj commented on #56
@fmdkdd Can you please clarify? Is there an easy to run the syntax checker on file `B` whenever changes are made to file `A`? I may be missing something but it seems like `flycheck-buffer` is the only way to manually trigger a syntax check. However, this functions runs the syntax checker on the current buffer. Perhaps, what we need is a function `flycheck-buffer` that receives the buffer to run th

[2018-08-23 08:37] fmdkdd commented on #56
That's not necessary.  You can just do `(with-current-buffer B (flycheck-buffer))`.

Evaluate this in A:

[code]

Now you could go further and look at the project, build a graph of file dependencies, and trigger a check in dependent files whenever an upstream file is changed.  That logic would be language-specific, at best.

In the meantime, we have flycheck/flycheck#1308 which should soon be merg

[2018-08-23 12:53] peterwvj commented on #56
Great, thanks for explaining!

[2018-08-23 22:33] little-arhat commented on #68
@fmdkdd here is my attempt: https://github.com/flycheck/flycheck-rust/pull/69. Not sure it's the best solution (I had to fix all the tests), so feel free to fix, abandon or suggest a better way %)

[2018-09-04 11:17] #68 closed

[2018-09-07 10:30] ParityB1t commented on #66
newest version of rust just updated to change the `no-trans` option to `no-codegen`

See [https://github.com/w0rp/ale/pull/1806](url)

I tried compiling with no-trans using `flycheck-compile` and on term:
[code]

But changing it to `no-codegen` on term works :smile:

[code]

Trying to get a grips of lisp to do a pull request and change it to `no-codegen` on flycheck too.

[2018-09-07 12:06] fmdkdd commented on #66
@ParityB1t Thanks, but we cannot use `-Z no-codegen` on stable, can we?  So I'd rather go with https://github.com/flycheck/flycheck/pull/1501 instead.

I'm closing this issue because we haven't been using `-Z no-trans` in a while.

[2018-09-07 12:06] #66 closed

[2018-10-13 14:47] otuk opened #70 "emacs 24, I get different kinds of errors even though I am running latest version of all"
I have used rustup to update my stable as well as my nightly toolchain
on commandline `which cargo` responds as expected (~/.cargo/bin/cargo), so cargo is on my path.

in emacs v24 error messages as soon as I open a rust file I see the following with the STABLE toolchain (rustc version 1.29.2)
The editions related issue goes away if I use NIGHTLY toolchain.  So that is not a concern.

**The real i

[2018-10-14 08:15] fmdkdd commented on #70
Hmm, it's surprising that you get different behavior in `emacs25-nox` and in emacs24.  But as for `flycheck-rust` not finding `cargo`, it's because you are using:

This is a Flycheck variable used to override the checker executable, but flycheck-rust uses `flycheck-executable-find` to locate `cargo` by looking in your PATH.  It's confusing because `cargo` is both the checker command *and* the prog

[2018-10-15 02:43] otuk commented on #70
Thank you @fmdkdd

I made the change for PATH in config.org within the cargo area and kept everything else the same:
[code]
And I get to see the flycheck results :) Yipee.

But I still cannot do `C-c C-c C-b` to do a build directly, I know this is not fly check related, but maybe I get help?

Any such action generates the following error, I did not find any reference to it for cargo related module

[2018-10-15 11:32] fmdkdd commented on #70
Yeah!

This is a `cargo-mode` bug: the package claims Emacs 24.3 support, but `alist-get` is in Emacs 25+.  I see you've reported https://github.com/kwrooijen/cargo.el/issues/67, so I will close this one here.

[2018-10-15 11:32] #70 closed

[2018-10-15 12:35] otuk commented on #70
@fmkdd, thanks again

[2018-12-14 02:55] shpazk opened #71 "How to get better error message"
Hi

flycheck-rust on my Emacs 25.2.2 doesn't provide rich description of the error.

It always reports the first token of the code as the point of failure (with highlights), and error message always looks like this.

[code]

How can I get more precise know where the error is happening, and get more helpful error message?

My configuration looks like:
[code]

Thanks!

[2018-12-14 08:52] shpazk commented on #71
While `cargo check` seems to output correct error message, `flycheck-rust.el` at `master` branch doesn't show the correct error messages!

[2018-12-14 09:40] fmdkdd commented on #71
Can you get a screenshot of what the error looks like?  Or provide a minimal example of code with which I can reproduce?

Also, please state your `rustc` and `cargo` versions.

[2018-12-15 02:40] shpazk commented on #71
Thank you for your early response!

I tried `rustc` 1.32.0-nightly and `cargo` 1.33.0-nightly.

This is how the error looks like. Here is a screenshot of wrong error message.
![screenshot from 2018-12-15 11-37-59](https://user-images.githubusercontent.com/45864577/50038138-027a3500-005e-11e9-9dfc-6ea749f63b39.png)

Thanks!

[2018-12-18 12:18] fmdkdd commented on #71
Can you show the output of `cargo check` for your project?  Please also report your flycheck version and flycheck-rust version.

[2018-12-19 07:15] shpazk commented on #71
Here's the error message that `cargo check` provides:
[code]

And the version of `flycheck` is 31 and the version of `flycheck-rust` is 20180904.1117.

Found on `M-x package-list-packages`.

Thanks!

[2018-12-29 13:58] wookietreiber opened #72 "change target directory"
Using `cargo` on the command line, I can change the target directory, e.g.:

[code]

Is it possible to change the target directory with **flycheck-rust** and if so how?

---

**Note:** I would like to do this to reduce the writes to my disk because it's an SSD and `/tmp` is a **tmpfs**.

**Note:** I do not want to set `target-dir` in `Cargo.toml` because I don't want to add this to version control

[2019-01-02 13:32] rgilton opened #73 "Errors not highlighted nor listed correctly"
Having loaded flycheck-rust from melpa (version '20180904.1117'), flycheck seems to be content with the rust/cargo arrangement (output of `flycheck-verify-setup` is all green for both `rust-cargo` and `rust`).  However when there are errors present in the rust file being edited, those errors are not highlighted, and they are not listed in the flycheck error buffer.

As an example, `C-c ! C-c RET`

[2019-01-02 13:35] rgilton commented on #73
I've just noticed that what I have described above sounds very similar to that in  #71.

[2019-01-18 16:19] fmdkdd commented on #71
@shpazk Can you report the output of `flycheck-verify-setup` in that buffer?

I cannot reproduce your issue with the latest flycheck/flycheck-rust versions from MELPA.

[2019-01-18 16:20] fmdkdd commented on #73
Yes, it does seem similar to #71.  Do you have a sample of code where you can reproduce the error that you can share?

[2019-01-24 11:33] rgilton commented on #73
The code that I was using was just the basic hello world code that you get from a `cargo new` invocation, and then just adding some lines that were obviously wrong to the code -- nothing particularly special, and I seemed to get the same error no matter what I did.

[2019-01-24 12:11] fmdkdd commented on #73
Then I'll close this issue in favor of #71 where we can keep gathering data.  I definitely cannot reproduce: a `cargo new` project checks fine for me.

[2019-01-24 12:11] #73 closed

[2019-01-27 10:03] shpazk commented on #71
@fmdkdd This is the result of `flycheck-verify-setup` from the buffer. Thanks for paying attention to the issue!

[code]

[2019-01-31 13:20] fmdkdd commented on #71
Ooooh.  You are using the stable Flycheck version from MELPA stable.  I'm pretty sure current versions of Rust are incompatible with that one.

We are overdue for a release, but there are still some new features that needs tuning before we land that.  I suggest you use the latest Flycheck version, not the stable one.  We are very careful about not pushing breaking updates to master, don't worry.

[2019-02-01 05:13] shpazk commented on #71
Whoa. It seems to work with the flycheck version from MELPA. (without stable)

Thanks!

[2019-02-01 10:10] fmdkdd commented on #73
@rgilton I see you have an outdated Flycheck from MELPA.  Can you update it and try again?

[2019-02-01 10:11] fmdkdd commented on #71
Happy hacking!

[2019-02-01 10:11] #71 closed

[2019-02-01 10:50] rgilton commented on #73
After updating flycheck to come from MELPA, everything is working.  Great!  Is there a way to get `flycheck-verify-setup` to check for this problem?

[2019-02-01 10:54] rgilton commented on #73
... and thanks!

[2019-02-01 13:32] fmdkdd commented on #73
@rgilton `flycheck-verify-setup` shows you the installed Flycheck version, but we could add a warning if you version is a few months older than the latest one, that's a good point.

[2019-02-02 07:58] wookietreiber commented on #72
@fmdkdd Thanks, using `.dir-locals.el` works!

[2019-02-04 12:20] fmdkdd commented on #72
:+1:

[2019-02-04 12:20] #72 closed

[2019-02-24 01:38] knappador commented on #57
Regarding "not calling my rust hooks" correct hook is as follows:
[code]

As documented on https://github.com/emacs-lsp/lsp-rust

[2019-03-16 12:03] mjhoy opened #74 "melpa stable"
the README suggests this project is on melpa stable, but it does not appear to be.

should this be removed? see #28

[2019-03-19 15:48] fmdkdd commented on #74
On the other hand, I think it works well enough to be included in stable.  I've just pushed a tagged version, it should be picked up by MELPA stable soon enough.

[2019-03-19 15:48] #74 closed

[2019-05-28 22:50] romatthe opened #75 "rust-cargo detects the wrong crate type"
Hi,

The issue I'm opening here has been discussed in other issues, so I apologize if this is a duplicate, but I haven't been able to find a solution.

I'm trying to set up Emacs to work with Rust and Flycheck, but the `rust-cargo` checker keeps on crashing on me with the following error when running it against [a simple but popular Rust repo, `bat`](https://github.com/sharkdp/bat):

I did the usu

[2019-05-29 11:25] fmdkdd commented on #75
Cannot reproduce.  Diagnostics in the `bat` crate work fine here.  Maybe something wrong in your `flycheck-rust` setup?  This is the part that detects binary/library targets.  What does `M-: (flycheck-rust-find-cargo-target buffer-file-name)` returns in a `bat` file?  I get:
[code]

[2019-05-31 08:48] romatthe commented on #75
Sorry for the delay, haven't been able to get back to the system where I'm having the issue. I will get back to you as soon as possible.

[2019-07-17 14:41] peschkaj commented on #75
I can confirm that this happens on a newly created cargo project.

[code]

After editing `src/main.rs` and saving the file I get the original error message about suspicious state.

`M-: (flycheck-rust-find-cargo-target buffer-file-name)` results in `((kind . "bin") (name . "rlisp"))`

Running `flycheck-verify-setup` originally showed similar output to what @romatthe observed. After running `flyche

[2019-07-18 07:49] fmdkdd commented on #75
@peschkaj Ah, yes, `flycheck-rust-setup` needs to be run on each Rust buffer, otherwise `flycheck` alone does not know which crate type it should check for.  That's why we recommend putting `flycheck-rust-setup` in a hook in the README.

[2019-11-09 19:54] graves opened #76 "Symbol's function definition is void: flycheck-rust-setup"
I receive this error when opening a rust file in doom emacs. I noticed line 189 commented but I'm unsure if it's the cause of the error.

[2019-11-19 20:58] fmdkdd commented on #76
What line 189 are you referring to?

Do you have `flycheck-rust` installed?

[2020-07-09 13:03] einsweniger opened #77 "CARGO_HOME?"
flycheck-rust is not using the CARGO_HOME environment variable to find the `cargo` command, but I think it should.
I'd also think that `$CARGO_HOME/bin/cargo`, should take precedence over the `$PATH/cargo` executable.

Might be wrong, tho :D

[2020-07-14 10:49] fmdkdd commented on #77
I don't have a strong opinion either way.  My setup has `cargo` on `$PATH`, and I guess you would want to add `$CARGO_HOME` to `$PATH` in order to use it outside of Emacs. In which case, `flycheck-rust` would pick the right binary.  Or is there a use-case I am missing?

[2020-07-17 07:53] einsweniger commented on #77
I've given it more thought and you might be right, seems I'm kindof fighting windmills since many things expect cargo to be in `$PATH` or even hardcoded have it hardcoded to `.cargo/bin/cargo`. Since this is giving me more problems than it's worth having it not in `~/.cargo` and in `$PATH`. Seems like a 'me' problem :P
Sorry for the noise :D

[2020-07-17 07:53] #77 closed

[2020-09-22 12:18] thor314 opened #78 "Recurring error opening any rust file"
I've run `rustup update`.

On opening any rust file in emacs I get error:
[code]

On opening a different rust file:
[code]

on `flycheck-verify-setup`:
[code]

[2020-09-22 12:21] thor314 commented on #78
Actually, unsure what happened. Can't reproduce after a restart. Cheers.

[2020-09-22 12:21] #78 closed

[2020-09-30 21:56] creese opened #79 "Flycheck Not Finding Errors"
Here is an example I created with three different errors. This is a basic project with the following for main.rs:

main.rs:
[code]

When I load the file, I see this in `*Messages*`, but no errors are highlighted:
[code]

I suspect the issue has to do with how Flycheck is getting configured, but I can't see what's wrong. Here are the relevant config lines:
[code]

[2020-09-30 22:02] creese commented on #79
If I make the following change, an error is highlighted:
[code]
[code]
What does Flycheck work for case but not the other?

[2020-09-30 22:12] creese commented on #79
In the original example, if I remove the problem `if`, Flycheck correctly highlights the next problem:
[code]
[code]
[code]

[2020-09-30 23:10] creese commented on #79
However, it fails to highlight the missing comma on Line 5:
[code]
If I revert the buffer, I see this in `*Messages*`:
[code]

[2020-10-31 15:37] VizorKit commented on #52
I don't have the first issue, but I'm also seeing
[code]

[2020-12-10 04:54] HemilTheRebel commented on #29
I am wondering are there any updates on this? Getting syntax checking on the buffer will be a huge boon

[2020-12-13 12:13] fmdkdd commented on #76
Closing due to inactivity.  Feel free to reopen if the issue persists.

[2020-12-13 12:13] #76 closed

[2020-12-13 12:14] fmdkdd commented on #56
Closing as won't fix for now.  Though flycheck has gained the ability to recheck buffer on switch, so look into that.

[2020-12-13 12:14] #56 closed

[2020-12-13 12:17] fmdkdd commented on #29
@HemilTheRebel I don't use rust regularly anymore, so I can't say for sure if `cargo` supports checking via stdin.  Your best bet is to look into LSP packages and the rust language server.

[2020-12-13 12:23] fmdkdd commented on #79
Cannot reproduce.  For the first example, flycheck correctly reports these errors:

[code]

Did you try with the latest flycheck version?

[2020-12-13 21:22] #75 closed

[2020-12-13 21:22] #29 closed

[2020-12-13 21:22] #79 closed

[2020-12-27 04:07] zw963 opened #80 "Is this library is still necessory for check rust buffer when use with flycheck ?"
Thank you, i guess we don't need this anymore, right?

[2022-02-13 05:55] Eason0210 commented on #80
I still need flycheck-rust to make flycheck plays well with Cargo project.
without flycheck-rust,  I will got this error:
[code]

[code]

[2022-03-04 04:44] zw963 commented on #80
Thanks

[2022-03-04 04:44] #80 closed

[2022-06-07 00:48] freewebwithme opened #84 "Error in rustic-flycheck-setup: (user-error "flycheck-rust cannot find ‘cargo’. Please make sure that cargo is installed and on your PATH."
Hi I am using doom emacs and my configuration is simple

`(rust +lsp) in init.el`

`(use-package! rustic)`

that is it,
But i got an error
`Error in rustic-flycheck-setup: (user-error "flycheck-rust cannot find ‘cargo’.  Please make sure that cargo is installed and on your PATH.`

how can I solve this problem?

[2022-07-02 14:07] silentbicycle commented on #84
Confirm that the `cargo` executable is in the path -- emacs checks the directories in `exec-path`, which may differ from your normal shell `$PATH`, so it's possible you installed it but emacs isn't finding it.